In [1]:
import pandas as pd

In [2]:
china_df = pd.read_csv("C:/Users/jsuri/Downloads/Datasets/china_dataset.csv")

In [4]:
china_df

,ID,Age,Gender,Heart_Attack,Blood_Pressure,Cholesterol,Diabetes,Smoking,Alcohol_Consumption,Exercise_Level,...,Medication,Hypertension,Heart_Rate,Physical_Activity_Hours,Dietary_Fiber_Intake,Sodium_Intake,Cultural_Background,Genetic_Risk_Score,Age_Group,Screen_Time
0,1,50,Female,No,147.978602,215.563010,No,No,Moderate,Low,...,No,No,59.022408,0.566953,37.073115,2278.711795,Han,0.874595,Adult,8.294082
1,2,40,Female,No,119.558478,210.308676,No,Yes,NaN,Low,...,No,No,76.564803,1.384155,35.724646,2284.789866,Han,0.643054,Adult,4.593150
2,3,26,Female,No,102.617993,241.415264,No,No,Heavy,Low,...,No,No,88.519388,0.279997,20.102873,2179.251493,Other,0.715595,Adult,5.310293
3,4,54,Male,No,121.465827,252.900145,No,No,Moderate,High,...,No,Yes,68.676712,1.841346,32.476741,3022.112596,Han,0.658501,Adult,4.087884
4,5,19,Female,No,130.216946,164.222684,No,Yes,Heavy,Low,...,No,No,62.504824,1.088681,22.075720,3634.690298,Han,0.102311,Adult,6.533303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269995,269996,41,Male,No,148.398926,186.232933,No,No,NaN,High,...,No,No,84.897992,0.632633,16.931930,4168.914541,Han,0.137251,Adult,3.677198
269996,269997,46,Female,No,103.403428,160.020688,No,No,NaN,High,...,No,Yes,73.743029,0.722035,32.002433,3627.521819,Han,0.456690,Adult,5.237106
269997,269998,52,Female,No,132.890349,170.471393,No,No,NaN,Low,...,No,Yes,63.949635,0.303158,35.830543,3621.064617,Han,0.366006,Youth,8.898041
269998,269999,38,Male,No,111.634605,163.131882,No,No,NaN,Moderate,...,Yes,Yes,68.427358,0.012365,23.296970,3492.826147,Han,0.036352,Adult,7.463617
269999,270000,41,Female,No,121.856712,173.656131,Yes,No,NaN,Low,...,No,No,54.609019,1.353325,27.977116,3721.228816,Han,0.110363,Youth,3.617393

In [5]:
china_df.head(4)

,ID,Age,Gender,Heart_Attack,Blood_Pressure,Cholesterol,Diabetes,Smoking,Alcohol_Consumption,Exercise_Level,...,Medication,Hypertension,Heart_Rate,Physical_Activity_Hours,Dietary_Fiber_Intake,Sodium_Intake,Cultural_Background,Genetic_Risk_Score,Age_Group,Screen_Time
0,1,50,Female,No,147.978602,215.563010,No,No,Moderate,Low,...,No,No,59.022408,0.566953,37.073115,2278.711795,Han,0.874595,Adult,8.294082
1,2,40,Female,No,119.558478,210.308676,No,Yes,NaN,Low,...,No,No,76.564803,1.384155,35.724646,2284.789866,Han,0.643054,Adult,4.593150
2,3,26,Female,No,102.617993,241.415264,No,No,Heavy,Low,...,No,No,88.519388,0.279997,20.102873,2179.251493,Other,0.715595,Adult,5.310293
3,4,54,Male,No,121.465827,252.900145,No,No,Moderate,High,...,No,Yes,68.676712,1.841346,32.476741,3022.112596,Han,0.658501,Adult,4.087884

In [12]:
china_df['ID'].value_counts().sum()

270000

In [18]:
china_df['Age'].value_counts().sum()

270000

In [20]:
china_df['Age'].isnull().sum()

0

In [22]:
china_df['Gender'].value_counts()

Gender
Female    129591
Male      129581
Other      10828
Name: count, dtype: int64

In [24]:
china_df['Heart_Attack'].value_counts()

Heart_Attack
No     238041
Yes     31959
Name: count, dtype: int64

In [26]:
china_df['Heart_Attack'].isnull().sum()

0

In [28]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       270000 non-null  int64
 1   Age                      270000 non-null  int64
 2   Gender                   270000 non-null  object
 3   Heart_Attack             270000 non-null  object
 4   Blood_Pressure           270000 non-null  float64
 5   Cholesterol              270000 non-null  float64
 6   Diabetes                 270000 non-null  object
 7   Smoking                  270000 non-null  object
 8   Alcohol_Consumption      135118 non-null  object
 9   Exercise_Level           270000 non-null  object
 10  BMI                      270000 non-null  float64
 11  Family_History           270000 non-null  object
 12  Diet_Type                270000 non-null  object
 13  Stress_Level             270000 non-null  float64
 14  Residence                270000 non-null  object
 15  Education_Level          270000 non-null  object
 16  Employment_Status        270000 non-null  object
 17  Income_Level             270000 non-null  float64
 18  Marital_Status           270000 non-null  object
 19  Sleep_Hours              270000 non-null  float64
 20  Medication               270000 non-null  object
 21  Hypertension             270000 non-null  object
 22  Heart_Rate               270000 non-null  float64
 23  Physical_Activity_Hours  270000 non-null  float64
 24  Dietary_Fiber_Intake     270000 non-null  float64
 25  Sodium_Intake            270000 non-null  float64
 26  Cultural_Background      270000 non-null  object
 27  Genetic_Risk_Score       270000 non-null  float64
 28  Age_Group                270000 non-null  object
 29  Screen_Time              270000 non-null  float64
dtypes: float64(12), int64(2), object(16)
memory usage: 61.8+ MB

In [32]:
china_df['Blood_Pressure'] = china_df['Blood_Pressure'].astype(int)

In [38]:
china_df['Blood_Pressure'].value_counts().sum()

270000

In [40]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       270000 non-null  int64
 1   Age                      270000 non-null  int64
 2   Gender                   270000 non-null  object
 3   Heart_Attack             270000 non-null  object
 4   Blood_Pressure           270000 non-null  int32
 5   Cholesterol              270000 non-null  float64
 6   Diabetes                 270000 non-null  object
 7   Smoking                  270000 non-null  object
 8   Alcohol_Consumption      135118 non-null  object
 9   Exercise_Level           270000 non-null  object
 10  BMI                      270000 non-null  float64
 11  Family_History           270000 non-null  object
 12  Diet_Type                270000 non-null  object
 13  Stress_Level             270000 non-null  float64
 14  Residence                270000 non-null  object
 15  Education_Level          270000 non-null  object
 16  Employment_Status        270000 non-null  object
 17  Income_Level             270000 non-null  float64
 18  Marital_Status           270000 non-null  object
 19  Sleep_Hours              270000 non-null  float64
 20  Medication               270000 non-null  object
 21  Hypertension             270000 non-null  object
 22  Heart_Rate               270000 non-null  float64
 23  Physical_Activity_Hours  270000 non-null  float64
 24  Dietary_Fiber_Intake     270000 non-null  float64
 25  Sodium_Intake            270000 non-null  float64
 26  Cultural_Background      270000 non-null  object
 27  Genetic_Risk_Score       270000 non-null  float64
 28  Age_Group                270000 non-null  object
 29  Screen_Time              270000 non-null  float64
dtypes: float64(11), int32(1), int64(2), object(16)
memory usage: 60.8+ MB

In [44]:
china_df.head()

,ID,Age,Gender,Heart_Attack,Blood_Pressure,Cholesterol,Diabetes,Smoking,Alcohol_Consumption,Exercise_Level,...,Medication,Hypertension,Heart_Rate,Physical_Activity_Hours,Dietary_Fiber_Intake,Sodium_Intake,Cultural_Background,Genetic_Risk_Score,Age_Group,Screen_Time
0,1,50,Female,No,147,215.563010,No,No,Moderate,Low,...,No,No,59.022408,0.566953,37.073115,2278.711795,Han,0.874595,Adult,8.294082
1,2,40,Female,No,119,210.308676,No,Yes,NaN,Low,...,No,No,76.564803,1.384155,35.724646,2284.789866,Han,0.643054,Adult,4.593150
2,3,26,Female,No,102,241.415264,No,No,Heavy,Low,...,No,No,88.519388,0.279997,20.102873,2179.251493,Other,0.715595,Adult,5.310293
3,4,54,Male,No,121,252.900145,No,No,Moderate,High,...,No,Yes,68.676712,1.841346,32.476741,3022.112596,Han,0.658501,Adult,4.087884
4,5,19,Female,No,130,164.222684,No,Yes,Heavy,Low,...,No,No,62.504824,1.088681,22.075720,3634.690298,Han,0.102311,Adult,6.533303

In [46]:
china_df['Cholesterol'] = china_df['Cholesterol'].astype(int)

In [50]:
china_df['Cholesterol'].value_counts()

Cholesterol
 205    2256
 193    2252
 200    2182
 196    2181
 203    2178
        ...
 384       1
 430       1
-9         1
-29        1
 389       1
Name: count, Length: 406, dtype: int64

In [68]:
china_df.rename(columns={'Cholesterol':'Cholesterol_Level'},inplace = True)

In [70]:
china_df.head()

,ID,Age,Gender,Heart_Attack,Blood_Pressure,\tCholesterol_Level,Diabetes,Smoking,Alcohol_Consumption,Exercise_Level,...,Medication,Hypertension,Heart_Rate,Physical_Activity_Hours,Dietary_Fiber_Intake,Sodium_Intake,Cultural_Background,Genetic_Risk_Score,Age_Group,Screen_Time
0,1,50,Female,No,147,215,No,No,Moderate,Low,...,No,No,59.022408,0.566953,37.073115,2278.711795,Han,0.874595,Adult,8.294082
1,2,40,Female,No,119,210,No,Yes,NaN,Low,...,No,No,76.564803,1.384155,35.724646,2284.789866,Han,0.643054,Adult,4.593150
2,3,26,Female,No,102,241,No,No,Heavy,Low,...,No,No,88.519388,0.279997,20.102873,2179.251493,Other,0.715595,Adult,5.310293
3,4,54,Male,No,121,252,No,No,Moderate,High,...,No,Yes,68.676712,1.841346,32.476741,3022.112596,Han,0.658501,Adult,4.087884
4,5,19,Female,No,130,164,No,Yes,Heavy,Low,...,No,No,62.504824,1.088681,22.075720,3634.690298,Han,0.102311,Adult,6.533303

In [75]:
china_df.head()

,ID,Age,Gender,Heart_Attack,Blood_Pressure,\tCholesterol_Level,Diabetes,Smoking,Alcohol_Consumption,Exercise_Level,...,Medication,Hypertension,Heart_Rate,Physical_Activity_Hours,Dietary_Fiber_Intake,Sodium_Intake,Cultural_Background,Genetic_Risk_Score,Age_Group,Screen_Time
0,1,50,Female,No,147,215,No,No,Moderate,Low,...,No,No,59.022408,0.566953,37.073115,2278.711795,Han,0.874595,Adult,8.294082
1,2,40,Female,No,119,210,No,Yes,NaN,Low,...,No,No,76.564803,1.384155,35.724646,2284.789866,Han,0.643054,Adult,4.593150
2,3,26,Female,No,102,241,No,No,Heavy,Low,...,No,No,88.519388,0.279997,20.102873,2179.251493,Other,0.715595,Adult,5.310293
3,4,54,Male,No,121,252,No,No,Moderate,High,...,No,Yes,68.676712,1.841346,32.476741,3022.112596,Han,0.658501,Adult,4.087884
4,5,19,Female,No,130,164,No,Yes,Heavy,Low,...,No,No,62.504824,1.088681,22.075720,3634.690298,Han,0.102311,Adult,6.533303

In [77]:
china_df.columns = china_df.columns.str.strip()

In [81]:
china_df.head()

,ID,Age,Gender,Heart_Attack,Blood_Pressure,Cholesterol_Level,Diabetes,Smoking,Alcohol_Consumption,Exercise_Level,...,Medication,Hypertension,Heart_Rate,Physical_Activity_Hours,Dietary_Fiber_Intake,Sodium_Intake,Cultural_Background,Genetic_Risk_Score,Age_Group,Screen_Time
0,1,50,Female,No,147,215,No,No,Moderate,Low,...,No,No,59.022408,0.566953,37.073115,2278.711795,Han,0.874595,Adult,8.294082
1,2,40,Female,No,119,210,No,Yes,NaN,Low,...,No,No,76.564803,1.384155,35.724646,2284.789866,Han,0.643054,Adult,4.593150
2,3,26,Female,No,102,241,No,No,Heavy,Low,...,No,No,88.519388,0.279997,20.102873,2179.251493,Other,0.715595,Adult,5.310293
3,4,54,Male,No,121,252,No,No,Moderate,High,...,No,Yes,68.676712,1.841346,32.476741,3022.112596,Han,0.658501,Adult,4.087884
4,5,19,Female,No,130,164,No,Yes,Heavy,Low,...,No,No,62.504824,1.088681,22.075720,3634.690298,Han,0.102311,Adult,6.533303

In [83]:
china_df.rename(columns={'Smoking':'Smoking_Status'},inplace = True)

In [85]:
china_df.head()

,ID,Age,Gender,Heart_Attack,Blood_Pressure,Cholesterol_Level,Diabetes,Smoking_Status,Alcohol_Consumption,Exercise_Level,...,Medication,Hypertension,Heart_Rate,Physical_Activity_Hours,Dietary_Fiber_Intake,Sodium_Intake,Cultural_Background,Genetic_Risk_Score,Age_Group,Screen_Time
0,1,50,Female,No,147,215,No,No,Moderate,Low,...,No,No,59.022408,0.566953,37.073115,2278.711795,Han,0.874595,Adult,8.294082
1,2,40,Female,No,119,210,No,Yes,NaN,Low,...,No,No,76.564803,1.384155,35.724646,2284.789866,Han,0.643054,Adult,4.593150
2,3,26,Female,No,102,241,No,No,Heavy,Low,...,No,No,88.519388,0.279997,20.102873,2179.251493,Other,0.715595,Adult,5.310293
3,4,54,Male,No,121,252,No,No,Moderate,High,...,No,Yes,68.676712,1.841346,32.476741,3022.112596,Han,0.658501,Adult,4.087884
4,5,19,Female,No,130,164,No,Yes,Heavy,Low,...,No,No,62.504824,1.088681,22.075720,3634.690298,Han,0.102311,Adult,6.533303

In [89]:
china_df['Diabetes'].value_counts()

Diabetes
No     229461
Yes     40539
Name: count, dtype: int64

In [91]:
china_df['Alcohol_Consumption'].value_counts()

Alcohol_Consumption
Moderate    108097
Heavy        27021
Name: count, dtype: int64

In [93]:
china_df['Alcohol_Consumption'].isnull().sum()

134882

In [95]:
moderate_ratio = china_df['Alcohol_Consumption'].value_counts(normalize = True)['Moderate']

In [97]:
moderate_ratio

0.8000192424399414

In [99]:
moderate_percentage = moderate_ratio *100

In [101]:
moderate_percentage

80.00192424399414

In [105]:
high_ratio = china_df['Alcohol_Consumption'].value_counts(normalize = True)['Heavy']

In [107]:
high_ratio

0.19998075756005862

In [109]:
high_percentage = high_ratio * 100

In [111]:
high_percentage

19.99807575600586

In [117]:
import numpy as np

np.random.seed(42)

china_df.loc[china_df['Alcohol_Consumption'].isnull(),'Alcohol_Consumption']=np.random.choice(
    ['Moderate','Heavy'],
    size = china_df['Alcohol_Consumption'].isnull().sum(),
    p = [moderate_ratio , high_ratio]
)

In [121]:
china_df['Alcohol_Consumption'].value_counts().sum()

270000

In [123]:
china_df['Alcohol_Consumption'].value_counts()

Alcohol_Consumption
Moderate    216016
Heavy        53984
Name: count, dtype: int64

In [125]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       270000 non-null  int64
 1   Age                      270000 non-null  int64
 2   Gender                   270000 non-null  object
 3   Heart_Attack             270000 non-null  object
 4   Blood_Pressure           270000 non-null  int32
 5   Cholesterol_Level        270000 non-null  int32
 6   Diabetes                 270000 non-null  object
 7   Smoking_Status           270000 non-null  object
 8   Alcohol_Consumption      270000 non-null  object
 9   Exercise_Level           270000 non-null  object
 10  BMI                      270000 non-null  float64
 11  Family_History           270000 non-null  object
 12  Diet_Type                270000 non-null  object
 13  Stress_Level             270000 non-null  float64
 14  Residence                270000 non-null  object
 15  Education_Level          270000 non-null  object
 16  Employment_Status        270000 non-null  object
 17  Income_Level             270000 non-null  float64
 18  Marital_Status           270000 non-null  object
 19  Sleep_Hours              270000 non-null  float64
 20  Medication               270000 non-null  object
 21  Hypertension             270000 non-null  object
 22  Heart_Rate               270000 non-null  float64
 23  Physical_Activity_Hours  270000 non-null  float64
 24  Dietary_Fiber_Intake     270000 non-null  float64
 25  Sodium_Intake            270000 non-null  float64
 26  Cultural_Background      270000 non-null  object
 27  Genetic_Risk_Score       270000 non-null  float64
 28  Age_Group                270000 non-null  object
 29  Screen_Time              270000 non-null  float64
dtypes: float64(10), int32(2), int64(2), object(16)
memory usage: 59.7+ MB

In [127]:
china_df['Family_History'].value_counts()

Family_History
No     202829
Yes     67171
Name: count, dtype: int64

In [131]:
china_df['Diet_Type'].value_counts()

Diet_Type
Healthy      108123
Moderate     107760
Unhealthy     54117
Name: count, dtype: int64

In [133]:
china_df.rename(columns={'Diet_Type': 'Diet_Quality'}, inplace = True)

In [135]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       270000 non-null  int64
 1   Age                      270000 non-null  int64
 2   Gender                   270000 non-null  object
 3   Heart_Attack             270000 non-null  object
 4   Blood_Pressure           270000 non-null  int32
 5   Cholesterol_Level        270000 non-null  int32
 6   Diabetes                 270000 non-null  object
 7   Smoking_Status           270000 non-null  object
 8   Alcohol_Consumption      270000 non-null  object
 9   Exercise_Level           270000 non-null  object
 10  BMI                      270000 non-null  float64
 11  Family_History           270000 non-null  object
 12  Diet_Quality             270000 non-null  object
 13  Stress_Level             270000 non-null  float64
 14  Residence                270000 non-null  object
 15  Education_Level          270000 non-null  object
 16  Employment_Status        270000 non-null  object
 17  Income_Level             270000 non-null  float64
 18  Marital_Status           270000 non-null  object
 19  Sleep_Hours              270000 non-null  float64
 20  Medication               270000 non-null  object
 21  Hypertension             270000 non-null  object
 22  Heart_Rate               270000 non-null  float64
 23  Physical_Activity_Hours  270000 non-null  float64
 24  Dietary_Fiber_Intake     270000 non-null  float64
 25  Sodium_Intake            270000 non-null  float64
 26  Cultural_Background      270000 non-null  object
 27  Genetic_Risk_Score       270000 non-null  float64
 28  Age_Group                270000 non-null  object
 29  Screen_Time              270000 non-null  float64
dtypes: float64(10), int32(2), int64(2), object(16)
memory usage: 59.7+ MB

In [373]:
china_df['Stress_Level'].value_counts()

Stress_Level
2.7    3132
7.2    3122
9.6    3108
1.2    3104
1.8    3092
       ...
7.0    2911
5.8    2898
2.6    2889
7.9    2887
2.8    2827
Name: count, Length: 90, dtype: int64

In [375]:
china_df['Stress_Level'] = (china_df['Stress_Level'] * 10).astype(int) / 10

In [381]:
# Define the bins and labels
bins = [0, 3.0, 6.0, 10.0]  # Stress levels: 0-3 (Good), 3.1-6 (Moderate), 6.1-10 (Bad)
labels = ['Good', 'Moderate', 'Bad']  # Categories for stress levels

# Categorize the stress levels into the defined categories
china_df['Stress_Level'] = pd.cut(china_df['Stress_Level'], bins=bins, labels=labels, right=True)

# Check the result to see how many entries fall under each category
print(china_df['Stress_Level'].value_counts())

Stress_Level
Bad         116796
Moderate     89998
Good         63206
Name: count, dtype: int64

In [389]:
# Convert the newly created categorical column to object (if not already)
china_df['Stress_Level'] = china_df['Stress_Level'].astype('object')

In [391]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 32 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       270000 non-null  int64
 1   Age                      270000 non-null  int64
 2   Gender                   270000 non-null  object
 3   Heart_Attack             270000 non-null  object
 4   Blood_Pressure           270000 non-null  int32
 5   Cholesterol_Level        270000 non-null  int32
 6   Diabetes                 270000 non-null  object
 7   Smoking_Status           270000 non-null  object
 8   Alcohol_Consumption      270000 non-null  object
 9   Physical_Activity        270000 non-null  object
 10  BMI                      270000 non-null  float64
 11  Family_History           270000 non-null  object
 12  Diet_Quality             270000 non-null  object
 13  Stress_Level             270000 non-null  object
 14  Region_category          270000 non-null  object
 15  Education_Level          270000 non-null  object
 16  Employment_Status        270000 non-null  object
 17  Income_Level             270000 non-null  object
 18  Marital_Status           270000 non-null  object
 19  Sleep_Hours              270000 non-null  float64
 20  Medication_Status        270000 non-null  object
 21  Hypertension_Status      270000 non-null  object
 22  Heart_Rate               270000 non-null  int32
 23  Physical_Activity_Hours  270000 non-null  int32
 24  Dietary_Fiber_Intake     270000 non-null  object
 25  Sodium_Intake            270000 non-null  object
 26  Cultural_Background      270000 non-null  object
 27  Genetic_Risk_Score       270000 non-null  float64
 28  Age_Group                270000 non-null  object
 29  Screen_Time              270000 non-null  float64
 30  Sodium_Level             270000 non-null  object
 31  Stress_Level_Category    270000 non-null  object
dtypes: float64(4), int32(4), int64(2), object(22)
memory usage: 61.8+ MB

In [139]:
china_df['BMI'].value_counts()

BMI
23.637733    1
25.064299    1
24.013376    1
22.405985    1
20.730903    1
            ..
31.921509    1
23.875671    1
24.986501    1
23.124550    1
22.210168    1
Name: count, Length: 270000, dtype: int64

In [141]:
china_df['BMI'] = (china_df['BMI'] * 10).astype(int) / 10

In [143]:
china_df['BMI'].value_counts()

BMI
24.3    2761
24.6    2749
23.1    2725
23.6    2721
23.9    2721
        ...
8.0        1
38.4       1
7.0        1
40.7       1
39.7       1
Name: count, Length: 327, dtype: int64

In [145]:
china_df.head(4)

,ID,Age,Gender,Heart_Attack,Blood_Pressure,Cholesterol_Level,Diabetes,Smoking_Status,Alcohol_Consumption,Exercise_Level,...,Medication,Hypertension,Heart_Rate,Physical_Activity_Hours,Dietary_Fiber_Intake,Sodium_Intake,Cultural_Background,Genetic_Risk_Score,Age_Group,Screen_Time
0,1,50,Female,No,147,215,No,No,Moderate,Low,...,No,No,59.022408,0.566953,37.073115,2278.711795,Han,0.874595,Adult,8.294082
1,2,40,Female,No,119,210,No,Yes,Moderate,Low,...,No,No,76.564803,1.384155,35.724646,2284.789866,Han,0.643054,Adult,4.593150
2,3,26,Female,No,102,241,No,No,Heavy,Low,...,No,No,88.519388,0.279997,20.102873,2179.251493,Other,0.715595,Adult,5.310293
3,4,54,Male,No,121,252,No,No,Moderate,High,...,No,Yes,68.676712,1.841346,32.476741,3022.112596,Han,0.658501,Adult,4.087884

In [165]:
china_df.rename(columns = {'Residence' :'Region_Category'},inplace = True)

In [170]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       270000 non-null  int64
 1   Age                      270000 non-null  int64
 2   Gender                   270000 non-null  object
 3   Heart_Attack             270000 non-null  object
 4   Blood_Pressure           270000 non-null  int32
 5   Cholesterol_Level        270000 non-null  int32
 6   Diabetes                 270000 non-null  object
 7   Smoking_Status           270000 non-null  object
 8   Alcohol_Consumption      270000 non-null  object
 9   Exercise_Level           270000 non-null  object
 10  BMI                      270000 non-null  float64
 11  Family_History           270000 non-null  object
 12  Diet_Quality             270000 non-null  object
 13  Stress_Level             270000 non-null  float64
 14  Region_category          270000 non-null  object
 15  Education_Level          270000 non-null  object
 16  Employment_Status        270000 non-null  object
 17  Income_Level             270000 non-null  float64
 18  Marital_Status           270000 non-null  object
 19  Sleep_Hours              270000 non-null  float64
 20  Medication               270000 non-null  object
 21  Hypertension             270000 non-null  object
 22  Heart_Rate               270000 non-null  float64
 23  Physical_Activity_Hours  270000 non-null  float64
 24  Dietary_Fiber_Intake     270000 non-null  float64
 25  Sodium_Intake            270000 non-null  float64
 26  Cultural_Background      270000 non-null  object
 27  Genetic_Risk_Score       270000 non-null  float64
 28  Age_Group                270000 non-null  object
 29  Screen_Time              270000 non-null  float64
dtypes: float64(10), int32(2), int64(2), object(16)
memory usage: 59.7+ MB

In [174]:
china_df['Region_category'].value_counts()

Region_category
Urban    188637
Rural     81363
Name: count, dtype: int64

In [184]:
china_df['Region_category'] =china_df['Region_category'].replace({
    'Rural': 'China (Rural)',
    'Urban': 'China (Urban)'
})

In [186]:
china_df['Region_category'].value_counts()

Region_category
China (Urban)    188637
China (Rural)     81363
Name: count, dtype: int64

In [188]:
china_df['Education_Level'].value_counts()

Education_Level
Secondary    134853
Tertiary      80972
Primary       54175
Name: count, dtype: int64

In [266]:
china_df['Physical_Activity'].value_counts()

Physical_Activity
Moderate    135122
Low          80807
High         54071
Name: count, dtype: int64

In [190]:
china_df['Employment_Status'].value_counts()

Employment_Status
Employed      189166
Student        53771
Unemployed     27063
Name: count, dtype: int64

In [192]:
china_df.rename(columns = {'Exercise_Level':'Physical_Activity'},inplace = True)

In [214]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       270000 non-null  int64
 1   Age                      270000 non-null  int64
 2   Gender                   270000 non-null  object
 3   Heart_Attack             270000 non-null  object
 4   Blood_Pressure           270000 non-null  int32
 5   Cholesterol_Level        270000 non-null  int32
 6   Diabetes                 270000 non-null  object
 7   Smoking_Status           270000 non-null  object
 8   Alcohol_Consumption      270000 non-null  object
 9   Physical_Activity        270000 non-null  object
 10  BMI                      270000 non-null  float64
 11  Family_History           270000 non-null  object
 12  Diet_Quality             270000 non-null  object
 13  Stress_Level             270000 non-null  float64
 14  Region_category          270000 non-null  object
 15  Education_Level          270000 non-null  object
 16  Employment_Status        270000 non-null  object
 17  Income_Level             270000 non-null  float64
 18  Marital_Status           270000 non-null  object
 19  Sleep_Hours              270000 non-null  float64
 20  Medication               270000 non-null  object
 21  Hypertension             270000 non-null  object
 22  Heart_Rate               270000 non-null  float64
 23  Physical_Activity_Hours  270000 non-null  float64
 24  Dietary_Fiber_Intake     270000 non-null  float64
 25  Sodium_Intake            270000 non-null  float64
 26  Cultural_Background      270000 non-null  object
 27  Genetic_Risk_Score       270000 non-null  float64
 28  Age_Group                270000 non-null  object
 29  Screen_Time              270000 non-null  float64
dtypes: float64(10), int32(2), int64(2), object(16)
memory usage: 59.7+ MB

In [338]:
china_df['Income_Level'].value_counts().sum()

269889

In [344]:
import numpy as np
missing_count = china_df['Income_Level'].isnull().sum()

In [348]:
missing_count

111

In [353]:
china_df['Income_Level'] = china_df['Income_Level'].astype('object')

In [355]:
china_df['Income_Level'].fillna(0, inplace=True)

C:\Users\jsuri\AppData\Local\Temp\ipykernel_15900\2472896595.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  china_df['Income_Level'].fillna(0, inplace=True)

In [357]:
china_df['Income_Level'].value_counts()

Income_Level
Medium    177731
High       67749
Low        24409
0            111
Name: count, dtype: int64

In [359]:
# Replace '0' with 'Low'
china_df['Income_Level'].replace(0, 'Low', inplace=True)

In [361]:
china_df['Income_Level'].value_counts()

Income_Level
Medium    177731
High       67749
Low        24520
Name: count, dtype: int64

In [363]:
china_df['Income_Level'].value_counts().sum()

270000

In [365]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 31 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       270000 non-null  int64
 1   Age                      270000 non-null  int64
 2   Gender                   270000 non-null  object
 3   Heart_Attack             270000 non-null  object
 4   Blood_Pressure           270000 non-null  int32
 5   Cholesterol_Level        270000 non-null  int32
 6   Diabetes                 270000 non-null  object
 7   Smoking_Status           270000 non-null  object
 8   Alcohol_Consumption      270000 non-null  object
 9   Physical_Activity        270000 non-null  object
 10  BMI                      270000 non-null  float64
 11  Family_History           270000 non-null  object
 12  Diet_Quality             270000 non-null  object
 13  Stress_Level             270000 non-null  float64
 14  Region_category          270000 non-null  object
 15  Education_Level          270000 non-null  object
 16  Employment_Status        270000 non-null  object
 17  Income_Level             270000 non-null  object
 18  Marital_Status           270000 non-null  object
 19  Sleep_Hours              270000 non-null  float64
 20  Medication_Status        270000 non-null  object
 21  Hypertension_Status      270000 non-null  object
 22  Heart_Rate               270000 non-null  int32
 23  Physical_Activity_Hours  270000 non-null  int32
 24  Dietary_Fiber_Intake     270000 non-null  object
 25  Sodium_Intake            270000 non-null  object
 26  Cultural_Background      270000 non-null  object
 27  Genetic_Risk_Score       270000 non-null  float64
 28  Age_Group                270000 non-null  object
 29  Screen_Time              270000 non-null  float64
 30  Sodium_Level             270000 non-null  object
dtypes: float64(5), int32(4), int64(2), object(20)
memory usage: 59.7+ MB

In [228]:
china_df['Marital_Status'].value_counts()

Marital_Status
Married     134948
Single      108068
Divorced     26984
Name: count, dtype: int64

In [230]:
china_df['Marital_Status'].value_counts().sum()

270000

In [232]:
china_df['Sleep_Hours'].value_counts()

Sleep_Hours
6.840082    1
4.920064    1
5.540981    1
4.486258    1
7.655380    1
           ..
5.987186    1
9.121482    1
9.358669    1
9.413149    1
7.931786    1
Name: count, Length: 270000, dtype: int64

In [234]:
china_df['Sleep_Hours'] = (china_df['Sleep_Hours'] * 10).astype(int) / 10

In [236]:
china_df['Sleep_Hours'].value_counts()

Sleep_Hours
6.6    4665
6.7    4613
8.4    4602
7.7    4601
8.8    4597
6.0    4593
7.4    4593
8.1    4588
7.0    4577
7.2    4569
4.6    4564
5.9    4556
6.4    4553
5.5    4552
8.6    4549
6.8    4545
9.0    4542
6.5    4535
8.3    4534
5.1    4534
5.8    4532
7.5    4529
9.7    4528
5.4    4526
9.3    4525
9.9    4524
5.0    4523
4.0    4519
6.2    4507
4.5    4505
9.4    4502
9.8    4500
7.8    4488
7.1    4487
5.2    4486
8.9    4482
4.2    4482
5.6    4478
5.3    4478
6.9    4476
7.6    4469
8.0    4458
9.2    4457
4.7    4455
4.9    4448
8.2    4447
7.9    4446
8.7    4442
4.3    4428
4.1    4428
4.4    4421
7.3    4421
9.5    4418
8.5    4407
9.1    4406
5.7    4391
6.3    4388
9.6    4386
6.1    4378
4.8    4367
Name: count, dtype: int64

In [238]:
china_df['Medication'].value_counts()

Medication
No     215885
Yes     54115
Name: count, dtype: int64

In [240]:
china_df.rename(columns = {'Medication':'Medication_Status'},inplace = True)

In [244]:
china_df['Medication_Status'].value_counts()

Medication_Status
No     215885
Yes     54115
Name: count, dtype: int64

In [246]:
china_df['Hypertension'].value_counts()

Hypertension
No     216033
Yes     53967
Name: count, dtype: int64

In [248]:
china_df.rename(columns = {'Hypertension':'Hypertension_Status'},inplace = True)

In [252]:
china_df['Hypertension_Status'].value_counts()

Hypertension_Status
No     216033
Yes     53967
Name: count, dtype: int64

In [254]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       270000 non-null  int64
 1   Age                      270000 non-null  int64
 2   Gender                   270000 non-null  object
 3   Heart_Attack             270000 non-null  object
 4   Blood_Pressure           270000 non-null  int32
 5   Cholesterol_Level        270000 non-null  int32
 6   Diabetes                 270000 non-null  object
 7   Smoking_Status           270000 non-null  object
 8   Alcohol_Consumption      270000 non-null  object
 9   Physical_Activity        270000 non-null  object
 10  BMI                      270000 non-null  float64
 11  Family_History           270000 non-null  object
 12  Diet_Quality             270000 non-null  object
 13  Stress_Level             270000 non-null  float64
 14  Region_category          270000 non-null  object
 15  Education_Level          270000 non-null  object
 16  Employment_Status        270000 non-null  object
 17  Income_Level             269889 non-null  category
 18  Marital_Status           270000 non-null  object
 19  Sleep_Hours              270000 non-null  float64
 20  Medication_Status        270000 non-null  object
 21  Hypertension_Status      270000 non-null  object
 22  Heart_Rate               270000 non-null  float64
 23  Physical_Activity_Hours  270000 non-null  float64
 24  Dietary_Fiber_Intake     270000 non-null  float64
 25  Sodium_Intake            270000 non-null  float64
 26  Cultural_Background      270000 non-null  object
 27  Genetic_Risk_Score       270000 non-null  float64
 28  Age_Group                270000 non-null  object
 29  Screen_Time              270000 non-null  float64
dtypes: category(1), float64(9), int32(2), int64(2), object(16)
memory usage: 57.9+ MB

In [260]:
china_df['Heart_Rate'].value_counts()

Heart_Rate
59.022408    1
68.811361    1
72.282447    1
64.526736    1
83.564168    1
            ..
69.138053    1
70.798111    1
74.548910    1
76.543994    1
54.609019    1
Name: count, Length: 270000, dtype: int64

In [262]:
china_df['Heart_Rate'] = china_df['Heart_Rate'].astype(int)

In [264]:
china_df['Heart_Rate']

0         59
1         76
2         88
3         68
4         62
          ..
269995    84
269996    73
269997    63
269998    68
269999    54
Name: Heart_Rate, Length: 270000, dtype: int32

In [270]:
china_df['Physical_Activity_Hours'].value_counts()

270000

In [272]:
china_df['Physical_Activity_Hours'] = china_df['Physical_Activity_Hours'].astype(int)

In [276]:
china_df['Physical_Activity_Hours'].value_counts()

Physical_Activity_Hours
1    135018
0    134982
Name: count, dtype: int64

In [278]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       270000 non-null  int64
 1   Age                      270000 non-null  int64
 2   Gender                   270000 non-null  object
 3   Heart_Attack             270000 non-null  object
 4   Blood_Pressure           270000 non-null  int32
 5   Cholesterol_Level        270000 non-null  int32
 6   Diabetes                 270000 non-null  object
 7   Smoking_Status           270000 non-null  object
 8   Alcohol_Consumption      270000 non-null  object
 9   Physical_Activity        270000 non-null  object
 10  BMI                      270000 non-null  float64
 11  Family_History           270000 non-null  object
 12  Diet_Quality             270000 non-null  object
 13  Stress_Level             270000 non-null  float64
 14  Region_category          270000 non-null  object
 15  Education_Level          270000 non-null  object
 16  Employment_Status        270000 non-null  object
 17  Income_Level             269889 non-null  category
 18  Marital_Status           270000 non-null  object
 19  Sleep_Hours              270000 non-null  float64
 20  Medication_Status        270000 non-null  object
 21  Hypertension_Status      270000 non-null  object
 22  Heart_Rate               270000 non-null  int32
 23  Physical_Activity_Hours  270000 non-null  int32
 24  Dietary_Fiber_Intake     270000 non-null  float64
 25  Sodium_Intake            270000 non-null  float64
 26  Cultural_Background      270000 non-null  object
 27  Genetic_Risk_Score       270000 non-null  float64
 28  Age_Group                270000 non-null  object
 29  Screen_Time              270000 non-null  float64
dtypes: category(1), float64(7), int32(4), int64(2), object(16)
memory usage: 55.9+ MB

In [284]:
china_df['Sodium_Intake'].value_counts()

Sodium_Intake
2278.711795    1
2843.200245    1
2886.081705    1
2723.416216    1
2839.999039    1
              ..
3607.021896    1
4762.504273    1
3242.660843    1
3567.790462    1
3721.228816    1
Name: count, Length: 270000, dtype: int64

In [286]:
china_df['Dietary_Fiber_Intake'].value_counts()

Dietary_Fiber_Intake
37.073115    1
27.756167    1
31.654987    1
29.386647    1
31.219587    1
            ..
29.188561    1
15.415667    1
17.269356    1
27.720085    1
27.977116    1
Name: count, Length: 270000, dtype: int64

In [292]:
# Function to categorize sodium intake
def categorize_sodium(sodium):
    if sodium < 1500:
        return 'Good'
    elif 1500 <= sodium <= 2300:
        return 'Moderate'
    else:
        return 'Bad'

In [299]:

# Apply the function to the 'sodium_intake' column
china_df['Sodium_Intake'] = china_df['Sodium_Intake'].apply(categorize_sodium)

In [301]:
china_df['Sodium_Intake'].value_counts()

Sodium_Intake
Bad         243010
Moderate     26990
Name: count, dtype: int64

In [303]:
china_df['Sodium_Intake'].value_counts().sum()

270000

In [305]:
# Function to categorize dietary fiber intake
def categorize_fiber(fiber):
    if fiber >= 25:
        return 'Good'
    elif 15 <= fiber < 25:
        return 'Moderate'
    else:
        return 'Bad'

In [307]:
# Apply the function to the 'dietary_fiber_intake' column
china_df['Dietary_Fiber_Intake'] = china_df['Dietary_Fiber_Intake'].apply(categorize_fiber)

In [311]:
china_df['Dietary_Fiber_Intake'].value_counts()

Dietary_Fiber_Intake
Good        162029
Moderate    107971
Name: count, dtype: int64

In [393]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 32 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       270000 non-null  int64
 1   Age                      270000 non-null  int64
 2   Gender                   270000 non-null  object
 3   Heart_Attack             270000 non-null  object
 4   Blood_Pressure           270000 non-null  int32
 5   Cholesterol_Level        270000 non-null  int32
 6   Diabetes                 270000 non-null  object
 7   Smoking_Status           270000 non-null  object
 8   Alcohol_Consumption      270000 non-null  object
 9   Physical_Activity        270000 non-null  object
 10  BMI                      270000 non-null  float64
 11  Family_History           270000 non-null  object
 12  Diet_Quality             270000 non-null  object
 13  Stress_Level             270000 non-null  object
 14  Region_category          270000 non-null  object
 15  Education_Level          270000 non-null  object
 16  Employment_Status        270000 non-null  object
 17  Income_Level             270000 non-null  object
 18  Marital_Status           270000 non-null  object
 19  Sleep_Hours              270000 non-null  float64
 20  Medication_Status        270000 non-null  object
 21  Hypertension_Status      270000 non-null  object
 22  Heart_Rate               270000 non-null  int32
 23  Physical_Activity_Hours  270000 non-null  int32
 24  Dietary_Fiber_Intake     270000 non-null  object
 25  Sodium_Intake            270000 non-null  object
 26  Cultural_Background      270000 non-null  object
 27  Genetic_Risk_Score       270000 non-null  float64
 28  Age_Group                270000 non-null  object
 29  Screen_Time              270000 non-null  float64
 30  Sodium_Level             270000 non-null  object
 31  Stress_Level_Category    270000 non-null  object
dtypes: float64(4), int32(4), int64(2), object(22)
memory usage: 61.8+ MB

In [397]:
china_df['Cultural_Background'].value_counts().sum()

270000

In [399]:
china_df['Genetic_Risk_Score'].value_counts()

Genetic_Risk_Score
0.874595    1
0.149482    1
0.486975    1
0.646381    1
0.640846    1
           ..
0.347329    1
0.162076    1
0.613614    1
0.299757    1
0.110363    1
Name: count, Length: 270000, dtype: int64

In [401]:
china_df['Genetic_Risk_Score'] = china_df['Genetic_Risk_Score'].astype(int)

In [403]:
china_df['Genetic_Risk_Score'].value_counts()

Genetic_Risk_Score
0    270000
Name: count, dtype: int64

In [405]:
china_df.drop(['Genetic_Risk_Score'], axis=1, inplace=True)

In [407]:
china_df.head(2)

,ID,Age,Gender,Heart_Attack,Blood_Pressure,Cholesterol_Level,Diabetes,Smoking_Status,Alcohol_Consumption,Physical_Activity,...,Hypertension_Status,Heart_Rate,Physical_Activity_Hours,Dietary_Fiber_Intake,Sodium_Intake,Cultural_Background,Age_Group,Screen_Time,Sodium_Level,Stress_Level_Category
0,1,50,Female,No,147,215,No,No,Moderate,Low,...,No,59,0,Good,Moderate,Han,Adult,8.294082,Moderate,Moderate
1,2,40,Female,No,119,210,No,Yes,Moderate,Low,...,No,76,1,Good,Moderate,Han,Adult,4.593150,Moderate,Good

In [409]:
china_df['Age_Group'].value_counts()

Age_Group
Adult    196849
Youth     73151
Name: count, dtype: int64

In [411]:
china_df['Age_Group'].value_counts().sum()

270000

In [419]:
china_df['Sodium_Level'].value_counts()

Sodium_Level
Bad         243010
Moderate     26990
Name: count, dtype: int64

In [423]:
china_df['Stress_Level_Category'].value_counts()

Stress_Level_Category
Bad         116796
Moderate     89998
Good         63206
Name: count, dtype: int64

In [425]:
china_df.drop(['Sodium_Level', 'Stress_Level_Category'], axis=1, inplace=True)

In [427]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 29 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       270000 non-null  int64
 1   Age                      270000 non-null  int64
 2   Gender                   270000 non-null  object
 3   Heart_Attack             270000 non-null  object
 4   Blood_Pressure           270000 non-null  int32
 5   Cholesterol_Level        270000 non-null  int32
 6   Diabetes                 270000 non-null  object
 7   Smoking_Status           270000 non-null  object
 8   Alcohol_Consumption      270000 non-null  object
 9   Physical_Activity        270000 non-null  object
 10  BMI                      270000 non-null  float64
 11  Family_History           270000 non-null  object
 12  Diet_Quality             270000 non-null  object
 13  Stress_Level             270000 non-null  object
 14  Region_category          270000 non-null  object
 15  Education_Level          270000 non-null  object
 16  Employment_Status        270000 non-null  object
 17  Income_Level             270000 non-null  object
 18  Marital_Status           270000 non-null  object
 19  Sleep_Hours              270000 non-null  float64
 20  Medication_Status        270000 non-null  object
 21  Hypertension_Status      270000 non-null  object
 22  Heart_Rate               270000 non-null  int32
 23  Physical_Activity_Hours  270000 non-null  int32
 24  Dietary_Fiber_Intake     270000 non-null  object
 25  Sodium_Intake            270000 non-null  object
 26  Cultural_Background      270000 non-null  object
 27  Age_Group                270000 non-null  object
 28  Screen_Time              270000 non-null  float64
dtypes: float64(3), int32(4), int64(2), object(20)
memory usage: 55.6+ MB

In [429]:
china_df['Screen_Time'] = china_df['Screen_Time'].round().astype(int)

In [431]:
china_df['Screen_Time']

0         8
1         5
2         5
3         4
4         7
         ..
269995    4
269996    5
269997    9
269998    7
269999    4
Name: Screen_Time, Length: 270000, dtype: int32

In [437]:
bins = [0, 2, 5, float('inf')]  # 0-2 = Low, 2-5 = Moderate, 5+ = High
labels = ['Low', 'Moderate', 'High']
china_df['Screen_Time'] = pd.cut(china_df['Screen_Time'], bins=bins, labels=labels)

In [441]:
china_df['Screen_Time'].value_counts().sum()

270000

In [445]:
china_df['Screen_Time'] = china_df['Screen_Time'].astype('object')

In [449]:
china_df['Screen_Time'] .value_counts()

Screen_Time
High        151900
Moderate    101394
Low          16706
Name: count, dtype: int64

In [452]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 29 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       270000 non-null  int64
 1   Age                      270000 non-null  int64
 2   Gender                   270000 non-null  object
 3   Heart_Attack             270000 non-null  object
 4   Blood_Pressure           270000 non-null  int32
 5   Cholesterol_Level        270000 non-null  int32
 6   Diabetes                 270000 non-null  object
 7   Smoking_Status           270000 non-null  object
 8   Alcohol_Consumption      270000 non-null  object
 9   Physical_Activity        270000 non-null  object
 10  BMI                      270000 non-null  float64
 11  Family_History           270000 non-null  object
 12  Diet_Quality             270000 non-null  object
 13  Stress_Level             270000 non-null  object
 14  Region_category          270000 non-null  object
 15  Education_Level          270000 non-null  object
 16  Employment_Status        270000 non-null  object
 17  Income_Level             270000 non-null  object
 18  Marital_Status           270000 non-null  object
 19  Sleep_Hours              270000 non-null  float64
 20  Medication_Status        270000 non-null  object
 21  Hypertension_Status      270000 non-null  object
 22  Heart_Rate               270000 non-null  int32
 23  Physical_Activity_Hours  270000 non-null  int32
 24  Dietary_Fiber_Intake     270000 non-null  object
 25  Sodium_Intake            270000 non-null  object
 26  Cultural_Background      270000 non-null  object
 27  Age_Group                270000 non-null  object
 28  Screen_Time              270000 non-null  object
dtypes: float64(2), int32(4), int64(2), object(21)
memory usage: 55.6+ MB

In [456]:
china_df.to_csv('cleaned_china_dataset.csv', index=False)

In [458]:
loaded_df = pd.read_csv('cleaned_china_dataset.csv')

In [460]:
loaded_df

,ID,Age,Gender,Heart_Attack,Blood_Pressure,Cholesterol_Level,Diabetes,Smoking_Status,Alcohol_Consumption,Physical_Activity,...,Sleep_Hours,Medication_Status,Hypertension_Status,Heart_Rate,Physical_Activity_Hours,Dietary_Fiber_Intake,Sodium_Intake,Cultural_Background,Age_Group,Screen_Time
0,1,50,Female,No,147,215,No,No,Moderate,Low,...,6.8,No,No,59,0,Good,Moderate,Han,Adult,High
1,2,40,Female,No,119,210,No,Yes,Moderate,Low,...,5.6,No,No,76,1,Good,Moderate,Han,Adult,Moderate
2,3,26,Female,No,102,241,No,No,Heavy,Low,...,9.5,No,No,88,0,Moderate,Moderate,Other,Adult,Moderate
3,4,54,Male,No,121,252,No,No,Moderate,High,...,7.3,No,Yes,68,1,Good,Bad,Han,Adult,Moderate
4,5,19,Female,No,130,164,No,Yes,Heavy,Low,...,8.4,No,No,62,1,Moderate,Bad,Han,Adult,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269995,269996,41,Male,No,148,186,No,No,Moderate,High,...,4.9,No,No,84,0,Moderate,Bad,Han,Adult,Moderate
269996,269997,46,Female,No,103,160,No,No,Heavy,High,...,9.9,No,Yes,73,0,Good,Bad,Han,Adult,Moderate
269997,269998,52,Female,No,132,170,No,No,Heavy,Low,...,5.9,No,Yes,63,0,Good,Bad,Han,Youth,High
269998,269999,38,Male,No,111,163,No,No,Moderate,Moderate,...,9.5,Yes,Yes,68,0,Moderate,Bad,Han,Adult,High
269999,270000,41,Female,No,121,173,Yes,No,Moderate,Low,...,7.9,No,No,54,1,Good,Bad,Han,Youth,Moderate

In [462]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 29 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       270000 non-null  int64
 1   Age                      270000 non-null  int64
 2   Gender                   270000 non-null  object
 3   Heart_Attack             270000 non-null  object
 4   Blood_Pressure           270000 non-null  int32
 5   Cholesterol_Level        270000 non-null  int32
 6   Diabetes                 270000 non-null  object
 7   Smoking_Status           270000 non-null  object
 8   Alcohol_Consumption      270000 non-null  object
 9   Physical_Activity        270000 non-null  object
 10  BMI                      270000 non-null  float64
 11  Family_History           270000 non-null  object
 12  Diet_Quality             270000 non-null  object
 13  Stress_Level             270000 non-null  object
 14  Region_category          270000 non-null  object
 15  Education_Level          270000 non-null  object
 16  Employment_Status        270000 non-null  object
 17  Income_Level             270000 non-null  object
 18  Marital_Status           270000 non-null  object
 19  Sleep_Hours              270000 non-null  float64
 20  Medication_Status        270000 non-null  object
 21  Hypertension_Status      270000 non-null  object
 22  Heart_Rate               270000 non-null  int32
 23  Physical_Activity_Hours  270000 non-null  int32
 24  Dietary_Fiber_Intake     270000 non-null  object
 25  Sodium_Intake            270000 non-null  object
 26  Cultural_Background      270000 non-null  object
 27  Age_Group                270000 non-null  object
 28  Screen_Time              270000 non-null  object
dtypes: float64(2), int32(4), int64(2), object(21)
memory usage: 55.6+ MB