In [5]:
import pandas as pd 
import numpy as np

In [7]:
france_df = pd.read_csv("C:/Users/jsuri/Downloads/Datasets/France_dataset.csv")

In [9]:
france_df.head(4)

,Patient_ID,Age,Sex,Weight_kg,Height_cm,BMI,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Cholesterol_Level,Smoking_Status,...,Exercise_Induced_Pain,Heart_Attack,Age_Group,Region,Air_Pollution_Level,Income_Level,Education_Level,Health_Insurance,Regular_Checkups,Medication_Adherence
0,1,56,Male,118.4,184,35.4,96,94,204.3,Ex-Smoker,...,No,No,Adult,Central,67,Medium,College,Yes,Occasionally,Yes
1,2,46,Male,50.7,164,32.6,114,65,279.4,Non-Smoker,...,No,Yes,Adult,North,16,Low,High School,Yes,Occasionally,Yes
2,3,32,Male,118.0,179,39.8,98,118,291.4,Current Smoker,...,No,No,Adult,South,32,Medium,College,Yes,Frequently,Yes
3,4,60,Male,96.8,161,23.7,108,101,273.3,Non-Smoker,...,No,No,Youth,East,86,Low,College,Yes,Occasionally,Yes

In [11]:
france_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266786 entries, 0 to 266785
Data columns (total 27 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Patient_ID                266786 non-null  int64
 1   Age                       266786 non-null  int64
 2   Sex                       266786 non-null  object
 3   Weight_kg                 266786 non-null  float64
 4   Height_cm                 266786 non-null  int64
 5   BMI                       266786 non-null  float64
 6   Blood_Pressure_Systolic   266786 non-null  int64
 7   Blood_Pressure_Diastolic  266786 non-null  int64
 8   Cholesterol_Level         266786 non-null  float64
 9   Smoking_Status            266786 non-null  object
 10  Alcohol_Consumption       266786 non-null  int64
 11  Physical_Activity_Hours   266786 non-null  float64
 12  Diabetes                  266786 non-null  object
 13  Family_History            266786 non-null  object
 14  Diet_Type                 266786 non-null  object
 15  Stress_Level              266786 non-null  int64
 16  Heart_Rate                266786 non-null  int64
 17  Exercise_Induced_Pain     266786 non-null  object
 18  Heart_Attack              266786 non-null  object
 19  Age_Group                 266786 non-null  object
 20  Region                    266786 non-null  object
 21  Air_Pollution_Level       266786 non-null  int64
 22  Income_Level              266786 non-null  object
 23  Education_Level           266786 non-null  object
 24  Health_Insurance          266786 non-null  object
 25  Regular_Checkups          266786 non-null  object
 26  Medication_Adherence      266786 non-null  object
dtypes: float64(4), int64(9), object(14)
memory usage: 55.0+ MB

In [13]:
print(france_df.shape)

(266786, 27)

In [15]:
france_df['Sex'].value_counts()

Sex
Female    128065
Male      128049
Other      10672
Name: count, dtype: int64

In [17]:
france_df['Weight_kg']  = france_df['Weight_kg'].round().astype(int)

In [19]:
france_df['Weight_kg']

0         118
1          51
2         118
3          97
4          54
         ...
266781    108
266782     75
266783     56
266784     70
266785     62
Name: Weight_kg, Length: 266786, dtype: int32

In [21]:
france_df['Blood_Pressure'] = ((france_df['Blood_Pressure_Systolic'] + france_df['Blood_Pressure_Diastolic'])/2).astype(int)

In [25]:
france_df['Blood_Pressure'].value_counts()

Blood_Pressure
110    6100
109    6077
105    6015
115    6000
116    5997
       ...
147     404
76      341
148     255
75      156
149      55
Name: count, Length: 75, dtype: int64

In [33]:
france_df.head()

,Patient_ID,Age,Sex,Weight_kg,Height_cm,BMI,Cholesterol_Level,Smoking_Status,Alcohol_Consumption,Physical_Activity_Hours,...,Heart_Attack,Age_Group,Region,Air_Pollution_Level,Income_Level,Education_Level,Health_Insurance,Regular_Checkups,Medication_Adherence,Blood_Pressure
0,1,56,Male,118,184,35.4,204.3,Ex-Smoker,16,9.5,...,No,Adult,Central,67,Medium,College,Yes,Occasionally,Yes,95
1,2,46,Male,51,164,32.6,279.4,Non-Smoker,18,3.3,...,Yes,Adult,North,16,Low,High School,Yes,Occasionally,Yes,89
2,3,32,Male,118,179,39.8,291.4,Current Smoker,15,8.9,...,No,Adult,South,32,Medium,College,Yes,Frequently,Yes,108
3,4,60,Male,97,161,23.7,273.3,Non-Smoker,3,5.5,...,No,Youth,East,86,Low,College,Yes,Occasionally,Yes,104
4,5,25,Male,54,169,24.4,290.8,Ex-Smoker,9,3.1,...,No,Youth,South,15,Low,High School,Yes,Occasionally,No,107

In [29]:
france_df.drop(['Blood_Pressure_Systolic', 'Blood_Pressure_Diastolic'], axis=1, inplace=True)

In [31]:
france_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266786 entries, 0 to 266785
Data columns (total 26 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Patient_ID               266786 non-null  int64
 1   Age                      266786 non-null  int64
 2   Sex                      266786 non-null  object
 3   Weight_kg                266786 non-null  int32
 4   Height_cm                266786 non-null  int64
 5   BMI                      266786 non-null  float64
 6   Cholesterol_Level        266786 non-null  float64
 7   Smoking_Status           266786 non-null  object
 8   Alcohol_Consumption      266786 non-null  int64
 9   Physical_Activity_Hours  266786 non-null  float64
 10  Diabetes                 266786 non-null  object
 11  Family_History           266786 non-null  object
 12  Diet_Type                266786 non-null  object
 13  Stress_Level             266786 non-null  int64
 14  Heart_Rate               266786 non-null  int64
 15  Exercise_Induced_Pain    266786 non-null  object
 16  Heart_Attack             266786 non-null  object
 17  Age_Group                266786 non-null  object
 18  Region                   266786 non-null  object
 19  Air_Pollution_Level      266786 non-null  int64
 20  Income_Level             266786 non-null  object
 21  Education_Level          266786 non-null  object
 22  Health_Insurance         266786 non-null  object
 23  Regular_Checkups         266786 non-null  object
 24  Medication_Adherence     266786 non-null  object
 25  Blood_Pressure           266786 non-null  int32
dtypes: float64(3), int32(2), int64(7), object(14)
memory usage: 50.9+ MB

In [35]:
france_df['Cholesterol_Level']=france_df['Cholesterol_Level'].astype(int)

In [37]:
france_df['Smoking_Status'].value_counts()

Smoking_Status
Non-Smoker        133491
Ex-Smoker          80234
Current Smoker     53061
Name: count, dtype: int64

In [45]:
france_df['Alcohol_Consumption'].value_counts()

Alcohol_Consumption
2     13525
3     13508
19    13501
16    13469
7     13438
4     13417
5     13396
17    13386
9     13351
15    13331
11    13318
1     13301
8     13299
10    13284
6     13280
12    13263
18    13209
13    13200
14    13195
0     13115
Name: count, dtype: int64

In [41]:
france_df['Alcohol_Consumption'].isnull().sum()

0

In [47]:
# Categorize Alcohol Consumption
def categorize_alcohol(value):
    if 0 <= value <= 14:
        return 'Moderate'
    elif value >= 15:
        return 'Heavy'
    else:
        return 'Unknown'  # In case of unexpected values (negative numbers)

In [49]:
# Apply the function to the Alcohol_Consumption column
france_df['Alcohol_Consumption'] = france_df['Alcohol_Consumption'].apply(categorize_alcohol)

In [51]:
# Convert to object type (optional but ensures consistency)
france_df['Alcohol_Consumption'] = france_df['Alcohol_Consumption'].astype('object')

In [53]:
# Check the results
france_df['Alcohol_Consumption'].value_counts()

Alcohol_Consumption
Moderate    199890
Heavy        66896
Name: count, dtype: int64

In [55]:
# Check the results
france_df['Alcohol_Consumption'].value_counts().sum()

266786

In [57]:
france_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266786 entries, 0 to 266785
Data columns (total 26 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Patient_ID               266786 non-null  int64
 1   Age                      266786 non-null  int64
 2   Sex                      266786 non-null  object
 3   Weight_kg                266786 non-null  int32
 4   Height_cm                266786 non-null  int64
 5   BMI                      266786 non-null  float64
 6   Cholesterol_Level        266786 non-null  int32
 7   Smoking_Status           266786 non-null  object
 8   Alcohol_Consumption      266786 non-null  object
 9   Physical_Activity_Hours  266786 non-null  float64
 10  Diabetes                 266786 non-null  object
 11  Family_History           266786 non-null  object
 12  Diet_Type                266786 non-null  object
 13  Stress_Level             266786 non-null  int64
 14  Heart_Rate               266786 non-null  int64
 15  Exercise_Induced_Pain    266786 non-null  object
 16  Heart_Attack             266786 non-null  object
 17  Age_Group                266786 non-null  object
 18  Region                   266786 non-null  object
 19  Air_Pollution_Level      266786 non-null  int64
 20  Income_Level             266786 non-null  object
 21  Education_Level          266786 non-null  object
 22  Health_Insurance         266786 non-null  object
 23  Regular_Checkups         266786 non-null  object
 24  Medication_Adherence     266786 non-null  object
 25  Blood_Pressure           266786 non-null  int32
dtypes: float64(2), int32(3), int64(6), object(15)
memory usage: 49.9+ MB

In [59]:
france_df.head()

,Patient_ID,Age,Sex,Weight_kg,Height_cm,BMI,Cholesterol_Level,Smoking_Status,Alcohol_Consumption,Physical_Activity_Hours,...,Heart_Attack,Age_Group,Region,Air_Pollution_Level,Income_Level,Education_Level,Health_Insurance,Regular_Checkups,Medication_Adherence,Blood_Pressure
0,1,56,Male,118,184,35.4,204,Ex-Smoker,Heavy,9.5,...,No,Adult,Central,67,Medium,College,Yes,Occasionally,Yes,95
1,2,46,Male,51,164,32.6,279,Non-Smoker,Heavy,3.3,...,Yes,Adult,North,16,Low,High School,Yes,Occasionally,Yes,89
2,3,32,Male,118,179,39.8,291,Current Smoker,Heavy,8.9,...,No,Adult,South,32,Medium,College,Yes,Frequently,Yes,108
3,4,60,Male,97,161,23.7,273,Non-Smoker,Moderate,5.5,...,No,Youth,East,86,Low,College,Yes,Occasionally,Yes,104
4,5,25,Male,54,169,24.4,290,Ex-Smoker,Moderate,3.1,...,No,Youth,South,15,Low,High School,Yes,Occasionally,No,107

In [63]:
france_df['Physical_Activity_Hours']=france_df['Physical_Activity_Hours'].astype(int)

In [69]:
france_df['Physical_Activity_Hours'].value_counts().sum()

266786

In [73]:
france_df['Diabetes'].value_counts()

Diabetes
No     226827
Yes     39959
Name: count, dtype: int64

In [75]:
france_df['Family_History'].value_counts()

Family_History
No     160078
Yes    106708
Name: count, dtype: int64

In [77]:
france_df['Diet_Type'].value_counts()

Diet_Type
Healthy      106507
Unhealthy     80174
Mixed         80105
Name: count, dtype: int64

In [94]:
france_df.rename(columns={'Diet_Type': 'Diet_Quality'}, inplace=True)

In [96]:
france_df['Diet_Quality'].value_counts()

Diet_Quality
Healthy      106507
Unhealthy     80174
Mixed         80105
Name: count, dtype: int64

In [98]:
france_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266786 entries, 0 to 266785
Data columns (total 26 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Patient_ID               266786 non-null  int64
 1   Age                      266786 non-null  int64
 2   Sex                      266786 non-null  object
 3   Weight_kg                266786 non-null  int32
 4   Height_cm                266786 non-null  int64
 5   BMI                      266786 non-null  float64
 6   Cholesterol_Level        266786 non-null  int32
 7   Smoking_Status           266786 non-null  object
 8   Alcohol_Consumption      266786 non-null  object
 9   Physical_Activity_Hours  266786 non-null  int32
 10  Diabetes                 266786 non-null  object
 11  Family_History           266786 non-null  object
 12  Diet_Quality             266786 non-null  object
 13  Stress_Level             266786 non-null  int64
 14  Heart_Rate               266786 non-null  int64
 15  Exercise_Induced_Pain    266786 non-null  object
 16  Heart_Attack             266786 non-null  object
 17  Age_Group                266786 non-null  object
 18  Region                   266786 non-null  object
 19  Air_Pollution_Level      266786 non-null  int64
 20  Income_Level             266786 non-null  object
 21  Education_Level          266786 non-null  object
 22  Health_Insurance         266786 non-null  object
 23  Regular_Checkups         266786 non-null  object
 24  Medication_Adherence     266786 non-null  object
 25  Blood_Pressure           266786 non-null  int32
dtypes: float64(1), int32(4), int64(6), object(15)
memory usage: 48.9+ MB

In [100]:
france_df['Stress_Level'].value_counts()

Stress_Level
8     26980
1     26908
5     26739
4     26718
6     26697
2     26683
7     26642
3     26612
10    26494
9     26313
Name: count, dtype: int64

In [102]:
# Define the bins and labels
bins = [0, 3, 6, float('inf')]  # Ensure all values are covered
labels = ['Good', 'Moderate', 'Bad']

In [104]:
# Categorize the stress levels
france_df['Stress_Level'] = pd.cut(france_df['Stress_Level'], bins=bins, labels=labels, right=False)

In [140]:
france_df['Stress_Level']=france_df['Stress_Level'] .astype(str)

In [146]:
print(france_df['Stress_Level'].dtype)

object

In [108]:
# Check the result
print(france_df['Stress_Level'].value_counts())

Stress_Level
Bad         133126
Moderate     80069
Good         53591
Name: count, dtype: int64

In [110]:
france_df.rename(columns={'Physical_Activity_Hours': 'Physical_Activity'} , inplace = True)

In [112]:
france_df['Physical_Activity'].value_counts()

Physical_Activity
1     17937
6     17927
2     17921
10    17880
5     17848
14    17836
13    17802
11    17791
12    17776
9     17774
3     17759
4     17623
8     17597
7     17509
0     16901
15      905
Name: count, dtype: int64

In [114]:
france_df['Heart_Rate'].value_counts()

Heart_Rate
81     3921
62     3914
118    3887
58     3886
69     3886
       ...
88     3713
51     3709
113    3708
83     3697
71     3680
Name: count, Length: 70, dtype: int64

In [116]:
france_df['Exercise_Induced_Pain'].value_counts()

Exercise_Induced_Pain
No     240243
Yes     26543
Name: count, dtype: int64

In [118]:
france_df['Heart_Attack'].value_counts()

Heart_Attack
No     213313
Yes     53473
Name: count, dtype: int64

In [120]:
france_df['Region'].value_counts()

Region
North      53529
Central    53472
South      53381
West       53345
East       53059
Name: count, dtype: int64

In [124]:
france_df.rename(columns = {'Region':'Region_Category'},inplace =True)

In [128]:
france_df['Region_Category'].value_counts()

Region_Category
North      53529
Central    53472
South      53381
West       53345
East       53059
Name: count, dtype: int64

In [130]:
region_mapping = {
    'North': 'France (North)',
    'South': 'France (South)',
    'West': 'France (West)',
    'East': 'France (East)',
    'Central': 'France (Central)'
}

In [132]:
france_df['Region_Category'] = france_df['Region_Category'].replace(region_mapping)

In [134]:
france_df['Region_Category'].value_counts()

Region_Category
France (North)      53529
France (Central)    53472
France (South)      53381
France (West)       53345
France (East)       53059
Name: count, dtype: int64

In [148]:
france_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266786 entries, 0 to 266785
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Patient_ID             266786 non-null  int64
 1   Age                    266786 non-null  int64
 2   Sex                    266786 non-null  object
 3   Weight_kg              266786 non-null  int32
 4   Height_cm              266786 non-null  int64
 5   BMI                    266786 non-null  float64
 6   Cholesterol_Level      266786 non-null  int32
 7   Smoking_Status         266786 non-null  object
 8   Alcohol_Consumption    266786 non-null  object
 9   Physical_Activity      266786 non-null  int32
 10  Diabetes               266786 non-null  object
 11  Family_History         266786 non-null  object
 12  Diet_Quality           266786 non-null  object
 13  Stress_Level           266786 non-null  object
 14  Heart_Rate             266786 non-null  int64
 15  Exercise_Induced_Pain  266786 non-null  object
 16  Heart_Attack           266786 non-null  object
 17  Age_Group              266786 non-null  object
 18  Region_Category        266786 non-null  object
 19  Air_Pollution_Level    266786 non-null  int64
 20  Income_Level           266786 non-null  object
 21  Education_Level        266786 non-null  object
 22  Health_Insurance       266786 non-null  object
 23  Regular_Checkups       266786 non-null  object
 24  Medication_Adherence   266786 non-null  object
 25  Blood_Pressure         266786 non-null  int32
dtypes: float64(1), int32(4), int64(5), object(16)
memory usage: 48.9+ MB

In [150]:
france_df['Age_Group'].value_counts()

Age_Group
Adult    154970
Youth    111816
Name: count, dtype: int64

In [183]:
france_df['Air_Pollution_Level'].value_counts()

Air_Pollution_Level
Moderate    133454
Good        133332
Bad              0
Name: count, dtype: int64

In [185]:
print(france_df['Air_Pollution_Level'].dtype)

category

In [187]:
france_df['Air_Pollution_Level'] = france_df['Air_Pollution_Level'].cat.remove_categories('Bad')

In [193]:
france_df['Air_Pollution_Level'].value_counts()

Air_Pollution_Level
Moderate    133454
Good        133332
Name: count, dtype: int64

In [197]:
france_df['Air_Pollution_Level']=france_df['Air_Pollution_Level'].astype(str)

In [201]:
print(france_df['Air_Pollution_Level'].dtype)

object

In [207]:
france_df['Income_Level'].value_counts()

Income_Level
Medium    106790
Low       106396
High       53600
Name: count, dtype: int64

In [209]:
france_df['Education_Level'].value_counts()

Education_Level
College        107204
High School    106778
Graduate        52804
Name: count, dtype: int64

In [211]:
france_df['Health_Insurance'].value_counts()

Health_Insurance
Yes    213258
No      53528
Name: count, dtype: int64

In [213]:
france_df['Regular_Checkups'].value_counts()

Regular_Checkups
Occasionally    133267
Rarely           80330
Frequently       53189
Name: count, dtype: int64

In [215]:
france_df['Medication_Adherence'].value_counts()

Medication_Adherence
Yes    240182
No      26604
Name: count, dtype: int64

In [217]:
france_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266786 entries, 0 to 266785
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Patient_ID             266786 non-null  int64
 1   Age                    266786 non-null  int64
 2   Sex                    266786 non-null  object
 3   Weight_kg              266786 non-null  int32
 4   Height_cm              266786 non-null  int64
 5   BMI                    266786 non-null  float64
 6   Cholesterol_Level      266786 non-null  int32
 7   Smoking_Status         266786 non-null  object
 8   Alcohol_Consumption    266786 non-null  object
 9   Physical_Activity      266786 non-null  int32
 10  Diabetes               266786 non-null  object
 11  Family_History         266786 non-null  object
 12  Diet_Quality           266786 non-null  object
 13  Stress_Level           266786 non-null  object
 14  Heart_Rate             266786 non-null  int64
 15  Exercise_Induced_Pain  266786 non-null  object
 16  Heart_Attack           266786 non-null  object
 17  Age_Group              266786 non-null  object
 18  Region_Category        266786 non-null  object
 19  Air_Pollution_Level    266786 non-null  object
 20  Income_Level           266786 non-null  object
 21  Education_Level        266786 non-null  object
 22  Health_Insurance       266786 non-null  object
 23  Regular_Checkups       266786 non-null  object
 24  Medication_Adherence   266786 non-null  object
 25  Blood_Pressure         266786 non-null  int32
dtypes: float64(1), int32(4), int64(4), object(17)
memory usage: 48.9+ MB

In [219]:
france_df.to_csv('cleaned_france_dataset.csv', index=False)

In [221]:
loaded_df = pd.read_csv('cleaned_france_dataset.csv')

In [223]:
loaded_df

,Patient_ID,Age,Sex,Weight_kg,Height_cm,BMI,Cholesterol_Level,Smoking_Status,Alcohol_Consumption,Physical_Activity,...,Heart_Attack,Age_Group,Region_Category,Air_Pollution_Level,Income_Level,Education_Level,Health_Insurance,Regular_Checkups,Medication_Adherence,Blood_Pressure
0,1,56,Male,118,184,35.4,204,Ex-Smoker,Heavy,9,...,No,Adult,France (Central),Moderate,Medium,College,Yes,Occasionally,Yes,95
1,2,46,Male,51,164,32.6,279,Non-Smoker,Heavy,3,...,Yes,Adult,France (North),Good,Low,High School,Yes,Occasionally,Yes,89
2,3,32,Male,118,179,39.8,291,Current Smoker,Heavy,8,...,No,Adult,France (South),Good,Medium,College,Yes,Frequently,Yes,108
3,4,60,Male,97,161,23.7,273,Non-Smoker,Moderate,5,...,No,Youth,France (East),Moderate,Low,College,Yes,Occasionally,Yes,104
4,5,25,Male,54,169,24.4,290,Ex-Smoker,Moderate,3,...,No,Youth,France (South),Good,Low,High School,Yes,Occasionally,No,107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266781,266782,33,Male,108,160,35.9,152,Ex-Smoker,Moderate,7,...,Yes,Youth,France (North),Good,High,High School,Yes,Occasionally,Yes,111
266782,266783,33,Female,75,186,19.8,201,Non-Smoker,Moderate,3,...,Yes,Youth,France (South),Good,Low,College,Yes,Occasionally,No,141
266783,266784,27,Female,56,198,34.7,160,Non-Smoker,Moderate,10,...,No,Adult,France (West),Moderate,Medium,Graduate,Yes,Occasionally,Yes,116
266784,266785,26,Male,70,180,35.8,270,Current Smoker,Heavy,5,...,No,Adult,France (Central),Good,Low,College,Yes,Rarely,Yes,125
266785,266786,43,Female,62,173,37.8,223,Non-Smoker,Moderate,9,...,No,Adult,France (North),Moderate,High,College,Yes,Rarely,Yes,99