In [1]:
import pandas as pd

In [3]:
ind_df = pd.read_csv("C:/Users/jsuri/Downloads/Datasets/heart_attack_youngsters_india.csv")

In [5]:
ind_df

,Age,Gender,Region,Urban/Rural,SES,Smoking Status,Alcohol Consumption,Diet Type,Physical Activity Level,Screen Time (hrs/day),...,Stress Level,Blood Pressure (systolic/diastolic mmHg),Resting Heart Rate (bpm),ECG Results,Chest Pain Type,Maximum Heart Rate Achieved,Exercise Induced Angina,Blood Oxygen Levels (SpO2%),Triglyceride Levels (mg/dL),Heart Attack Likelihood
0,30,Male,East,Urban,Middle,Never,Regularly,Non-Vegetarian,Sedentary,3,...,High,177.0/63.1,82,Normal,Non-anginal,183,No,94.1,58,No
1,24,Female,East,Urban,Low,Occasionally,Occasionally,Non-Vegetarian,Sedentary,15,...,High,137.5/110.7,76,Normal,Non-anginal,118,No,97.1,341,No
2,24,Female,North,Urban,Low,Occasionally,Occasionally,Vegan,High,15,...,Low,138.3/76.6,86,Normal,Typical,164,No,92.7,373,Yes
3,27,Male,East,Urban,Middle,Occasionally,Never,Vegetarian,Sedentary,6,...,Medium,177.1/90.0,106,Normal,Non-anginal,188,No,98.4,102,Yes
4,21,Female,West,Rural,Low,Occasionally,Occasionally,Vegetarian,Moderate,4,...,Low,130.7/108.8,73,Normal,Atypical,216,No,94.9,235,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,33,Female,East,Rural,Low,Occasionally,Occasionally,Vegan,Sedentary,2,...,Low,127.6/64.8,88,Abnormal,Atypical,147,No,90.8,296,No
9996,35,Female,North-East,Rural,Low,Occasionally,Never,Vegan,High,14,...,Low,162.5/77.4,116,Normal,Atypical,136,No,95.7,254,No
9997,32,Male,West,Urban,Middle,Regularly,Never,Non-Vegetarian,Moderate,1,...,High,120.8/81.3,62,Normal,Typical,171,No,98.6,319,No
9998,21,Female,Central,Rural,Middle,Regularly,Never,Vegan,Sedentary,9,...,Medium,110.0/100.3,84,Abnormal,Non-anginal,137,No,91.5,317,No
9999,28,Male,North,Rural,High,Never,Never,Vegetarian,Sedentary,5,...,High,166.0/83.5,77,Normal,Asymptomatic,220,No,97.4,80,No

In [7]:
ind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Age                                       10000 non-null  int64
 1   Gender                                    10000 non-null  object
 2   Region                                    10000 non-null  object
 3   Urban/Rural                               10000 non-null  object
 4   SES                                       10000 non-null  object
 5   Smoking Status                            10000 non-null  object
 6   Alcohol Consumption                       10000 non-null  object
 7   Diet Type                                 10000 non-null  object
 8   Physical Activity Level                   10000 non-null  object
 9   Screen Time (hrs/day)                     10000 non-null  int64
 10  Sleep Duration (hrs/day)                  10000 non-null  int64
 11  Family History of Heart Disease           10000 non-null  object
 12  Diabetes                                  10000 non-null  object
 13  Hypertension                              10000 non-null  object
 14  Cholesterol Levels (mg/dL)                10000 non-null  int64
 15  BMI (kg/m²)                               10000 non-null  float64
 16  Stress Level                              10000 non-null  object
 17  Blood Pressure (systolic/diastolic mmHg)  10000 non-null  object
 18  Resting Heart Rate (bpm)                  10000 non-null  int64
 19  ECG Results                               10000 non-null  object
 20  Chest Pain Type                           10000 non-null  object
 21  Maximum Heart Rate Achieved               10000 non-null  int64
 22  Exercise Induced Angina                   10000 non-null  object
 23  Blood Oxygen Levels (SpO2%)               10000 non-null  float64
 24  Triglyceride Levels (mg/dL)               10000 non-null  int64
 25  Heart Attack Likelihood                   10000 non-null  object
dtypes: float64(2), int64(7), object(17)
memory usage: 2.0+ MB

In [9]:
ind_df['Gender'].value_counts()

Gender
Male      4913
Female    4856
Other      231
Name: count, dtype: int64

In [11]:
ind_df['Region'].value_counts()

Region
Central       1746
North         1700
South         1664
East          1658
West          1643
North-East    1589
Name: count, dtype: int64

In [13]:
ind_df['Urban/Rural'].value_counts()

Urban/Rural
Urban    5918
Rural    4082
Name: count, dtype: int64

In [15]:
ind_df.rename(columns={'Region': 'Region_Category'}, inplace=True)

In [17]:
ind_df['Region_Category'].value_counts()

Region_Category
Central       1746
North         1700
South         1664
East          1658
West          1643
North-East    1589
Name: count, dtype: int64

In [19]:
ind_df.rename(columns={'Urban/Rural': 'Location_Type'}, inplace=True)

In [21]:
ind_df['Location_Type'].value_counts()

Location_Type
Urban    5918
Rural    4082
Name: count, dtype: int64

In [23]:
ind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Age                                       10000 non-null  int64
 1   Gender                                    10000 non-null  object
 2   Region_Category                           10000 non-null  object
 3   Location_Type                             10000 non-null  object
 4   SES                                       10000 non-null  object
 5   Smoking Status                            10000 non-null  object
 6   Alcohol Consumption                       10000 non-null  object
 7   Diet Type                                 10000 non-null  object
 8   Physical Activity Level                   10000 non-null  object
 9   Screen Time (hrs/day)                     10000 non-null  int64
 10  Sleep Duration (hrs/day)                  10000 non-null  int64
 11  Family History of Heart Disease           10000 non-null  object
 12  Diabetes                                  10000 non-null  object
 13  Hypertension                              10000 non-null  object
 14  Cholesterol Levels (mg/dL)                10000 non-null  int64
 15  BMI (kg/m²)                               10000 non-null  float64
 16  Stress Level                              10000 non-null  object
 17  Blood Pressure (systolic/diastolic mmHg)  10000 non-null  object
 18  Resting Heart Rate (bpm)                  10000 non-null  int64
 19  ECG Results                               10000 non-null  object
 20  Chest Pain Type                           10000 non-null  object
 21  Maximum Heart Rate Achieved               10000 non-null  int64
 22  Exercise Induced Angina                   10000 non-null  object
 23  Blood Oxygen Levels (SpO2%)               10000 non-null  float64
 24  Triglyceride Levels (mg/dL)               10000 non-null  int64
 25  Heart Attack Likelihood                   10000 non-null  object
dtypes: float64(2), int64(7), object(17)
memory usage: 2.0+ MB

In [25]:
ind_df['SES'].value_counts()

SES
Low       4019
Middle    3942
High      2039
Name: count, dtype: int64

In [28]:
ind_df.rename(columns={'SES': 'Income_Level'}, inplace=True)

In [30]:
ind_df['Income_Level'].value_counts()

Income_Level
Low       4019
Middle    3942
High      2039
Name: count, dtype: int64

In [32]:
ind_df.rename(columns={'Smoking Status': 'Smoking_Status'}, inplace=True)

In [34]:
ind_df['Smoking_Status'].value_counts()

Smoking_Status
Never           5013
Occasionally    2967
Regularly       2020
Name: count, dtype: int64

In [36]:
ind_df.rename(columns={'Alcohol Consumption': 'Alcohol_Consumption'}, inplace=True)

In [38]:
ind_df['Alcohol_Consumption'].value_counts()

Alcohol_Consumption
Never           6006
Occasionally    2999
Regularly        995
Name: count, dtype: int64

In [40]:
ind_df.rename(columns={'Diet Type': 'Diet_Quality'}, inplace=True)

In [42]:
ind_df['Diet_Quality'].value_counts()

Diet_Quality
Non-Vegetarian    4943
Vegetarian        4057
Vegan             1000
Name: count, dtype: int64

In [44]:
ind_df.rename(columns={'Physical Activity Level': 'Physical_Activity'}, inplace=True)

In [46]:
ind_df['Physical_Activity'].value_counts()

Physical_Activity
Sedentary    4954
Moderate     4023
High         1023
Name: count, dtype: int64

In [52]:
ind_df['Physical_Activity'] = ind_df['Physical_Activity'].replace({'Sedentary': 'Low'})

In [54]:
ind_df['Physical_Activity'].value_counts()

Physical_Activity
Low         4954
Moderate    4023
High        1023
Name: count, dtype: int64

In [56]:
ind_df['Screen Time (hrs/day)'].value_counts()

Screen Time (hrs/day)
0     664
4     653
12    653
8     652
14    645
13    638
9     635
5     632
11    628
3     613
15    609
2     607
1     604
7     598
10    586
6     583
Name: count, dtype: int64

In [64]:
# Define conditions for categorization
def categorize_screen_time(hours):
    if hours <= 4:
        return 'Good'  # Healthy screen time
    elif 5 <= hours <= 8:
        return 'Moderate'  # Acceptable but should be monitored
    else:
        return 'Bad'  # Excessive screen time

# Apply function to transform the column
ind_df['Screen_Time_Category'] = ind_df['Screen Time (hrs/day)'].apply(categorize_screen_time)

# Ensure dtype is object
ind_df['Screen_Time_Category'] = ind_df['Screen_Time_Category'].astype('object')

# Drop the original numerical column if no longer needed
ind_df.drop(columns=['Screen Time (hrs/day)'], inplace=True)

In [68]:
# Verify the changes
print(ind_df['Screen_Time_Category'].value_counts())

Screen_Time_Category
Bad         4394
Good        3141
Moderate    2465
Name: count, dtype: int64

In [70]:
print(ind_df['Screen_Time_Category'].dtype)

object

In [72]:
ind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Age                                       10000 non-null  int64
 1   Gender                                    10000 non-null  object
 2   Region_Category                           10000 non-null  object
 3   Location_Type                             10000 non-null  object
 4   Income_Level                              10000 non-null  object
 5   Smoking_Status                            10000 non-null  object
 6   Alcohol_Consumption                       10000 non-null  object
 7   Diet_Quality                              10000 non-null  object
 8   Physical_Activity                         10000 non-null  object
 9   Sleep Duration (hrs/day)                  10000 non-null  int64
 10  Family History of Heart Disease           10000 non-null  object
 11  Diabetes                                  10000 non-null  object
 12  Hypertension                              10000 non-null  object
 13  Cholesterol Levels (mg/dL)                10000 non-null  int64
 14  BMI (kg/m²)                               10000 non-null  float64
 15  Stress Level                              10000 non-null  object
 16  Blood Pressure (systolic/diastolic mmHg)  10000 non-null  object
 17  Resting Heart Rate (bpm)                  10000 non-null  int64
 18  ECG Results                               10000 non-null  object
 19  Chest Pain Type                           10000 non-null  object
 20  Maximum Heart Rate Achieved               10000 non-null  int64
 21  Exercise Induced Angina                   10000 non-null  object
 22  Blood Oxygen Levels (SpO2%)               10000 non-null  float64
 23  Triglyceride Levels (mg/dL)               10000 non-null  int64
 24  Heart Attack Likelihood                   10000 non-null  object
 25  Screen_Time_Category                      10000 non-null  object
dtypes: float64(2), int64(6), object(18)
memory usage: 2.0+ MB

In [74]:
print(ind_df['Sleep Duration (hrs/day)'].dtype)

int64

In [76]:
ind_df['Screen_Time_Category'].value_counts()

Screen_Time_Category
Bad         4394
Good        3141
Moderate    2465
Name: count, dtype: int64

In [78]:
ind_df['Sleep Duration (hrs/day)'].value_counts()

Sleep Duration (hrs/day)
4     1276
8     1274
10    1268
5     1263
6     1260
3     1236
7     1235
9     1188
Name: count, dtype: int64

In [82]:
ind_df.rename(columns={'Screen_Time_Category': 'Screen_Time'}, inplace=True)

In [84]:
ind_df['Screen_Time'].value_counts()

Screen_Time
Bad         4394
Good        3141
Moderate    2465
Name: count, dtype: int64

In [86]:
ind_df.rename(columns={'Sleep Duration (hrs/day)': 'Sleep_Hours'}, inplace=True)

In [88]:
ind_df['Sleep_Hours'].value_counts()

Sleep_Hours
4     1276
8     1274
10    1268
5     1263
6     1260
3     1236
7     1235
9     1188
Name: count, dtype: int64

In [90]:
ind_df.rename(columns={'Family History of Heart Disease': 'Family_History'}, inplace=True)

In [92]:
ind_df['Family_History'].value_counts()

Family_History
No     7071
Yes    2929
Name: count, dtype: int64

In [94]:
ind_df['Diabetes'].value_counts()

Diabetes
No     8002
Yes    1998
Name: count, dtype: int64

In [96]:
ind_df['Hypertension'].value_counts()

Hypertension
No     7548
Yes    2452
Name: count, dtype: int64

In [98]:
ind_df['Cholesterol Levels (mg/dL)'].value_counts()

Cholesterol Levels (mg/dL)
227    73
148    63
185    63
237    63
106    63
       ..
243    35
293    33
102    33
282    31
298    31
Name: count, Length: 201, dtype: int64

In [100]:
ind_df.rename(columns={'Cholesterol Levels (mg/dL)': 'Cholesterol_Level'}, inplace=True)

In [102]:
ind_df['Cholesterol_Level'].value_counts()

Cholesterol_Level
227    73
148    63
185    63
237    63
106    63
       ..
243    35
293    33
102    33
282    31
298    31
Name: count, Length: 201, dtype: int64

In [108]:
ind_df.rename(columns={'BMI (kg/m²)': 'BMI'}, inplace=True)

In [110]:
ind_df['BMI'].value_counts()

BMI
36.7    57
34.5    55
32.9    53
24.6    53
30.1    53
        ..
37.9    26
32.0    26
35.4    26
15.0    21
40.0    17
Name: count, Length: 251, dtype: int64

In [112]:
ind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Age                                       10000 non-null  int64
 1   Gender                                    10000 non-null  object
 2   Region_Category                           10000 non-null  object
 3   Location_Type                             10000 non-null  object
 4   Income_Level                              10000 non-null  object
 5   Smoking_Status                            10000 non-null  object
 6   Alcohol_Consumption                       10000 non-null  object
 7   Diet_Quality                              10000 non-null  object
 8   Physical_Activity                         10000 non-null  object
 9   Sleep_Hours                               10000 non-null  int64
 10  Family_History                            10000 non-null  object
 11  Diabetes                                  10000 non-null  object
 12  Hypertension                              10000 non-null  object
 13  Cholesterol_Level                         10000 non-null  int64
 14  BMI                                       10000 non-null  float64
 15  Stress Level                              10000 non-null  object
 16  Blood Pressure (systolic/diastolic mmHg)  10000 non-null  object
 17  Resting Heart Rate (bpm)                  10000 non-null  int64
 18  ECG Results                               10000 non-null  object
 19  Chest Pain Type                           10000 non-null  object
 20  Maximum Heart Rate Achieved               10000 non-null  int64
 21  Exercise Induced Angina                   10000 non-null  object
 22  Blood Oxygen Levels (SpO2%)               10000 non-null  float64
 23  Triglyceride Levels (mg/dL)               10000 non-null  int64
 24  Heart Attack Likelihood                   10000 non-null  object
 25  Screen_Time                               10000 non-null  object
dtypes: float64(2), int64(6), object(18)
memory usage: 2.0+ MB

In [114]:
ind_df.rename(columns={'Stress Level': 'Stress_Level'}, inplace=True)

In [116]:
ind_df['Stress_Level'].value_counts()

Stress_Level
Medium    4092
Low       2956
High      2952
Name: count, dtype: int64

In [118]:
ind_df['Blood Pressure (systolic/diastolic mmHg)'].value_counts()

Blood Pressure (systolic/diastolic mmHg)
166.4/83.7     3
120.0/91.7     3
141.9/67.6     2
122.2/118.3    2
129.3/80.1     2
              ..
123.8/60.9     1
127.7/95.5     1
177.0/78.3     1
154.3/76.0     1
166.0/83.5     1
Name: count, Length: 9892, dtype: int64

In [125]:
# Function to convert 'systolic/diastolic' format to a single integer (average value)
def convert_bp_to_average(bp_value):
    try:
        systolic, diastolic = map(float, bp_value.split('/'))  # Split and convert to float
        return round((systolic + diastolic) / 2)  # Calculate average and round to nearest int
    except:
        return None  # Handle any errors (e.g., NaN values)

# Apply the function to transform the column
ind_df['Blood_Pressure'] = ind_df['Blood Pressure (systolic/diastolic mmHg)'].apply(convert_bp_to_average)

# Convert to integer
ind_df['Blood_Pressure'] = ind_df['Blood_Pressure'].astype('Int64')  # Int64 supports NaNs

# Drop the original column if no longer needed
ind_df.drop(columns=['Blood Pressure (systolic/diastolic mmHg)'], inplace=True)

In [127]:
# Verify the changes
print(ind_df[['Blood_Pressure']].head())  # Check first few rows

   Blood_Pressure
0             120
1             124
2             107
3             134
4             120

In [132]:
ind_df['Blood_Pressure'].value_counts()

Blood_Pressure
112    286
122    276
116    270
120    262
110    256
      ...
83      18
148     17
81      10
149      9
150      1
Name: count, Length: 70, dtype: Int64

In [258]:
ind_df['Blood_Pressure'].isnull().sum()

0

In [260]:
ind_df["Blood_Pressure"] = ind_df["Blood_Pressure"].astype("int64")

In [262]:
print(ind_df['Blood_Pressure'].dtype)

int64

In [134]:
ind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          10000 non-null  int64
 1   Gender                       10000 non-null  object
 2   Region_Category              10000 non-null  object
 3   Location_Type                10000 non-null  object
 4   Income_Level                 10000 non-null  object
 5   Smoking_Status               10000 non-null  object
 6   Alcohol_Consumption          10000 non-null  object
 7   Diet_Quality                 10000 non-null  object
 8   Physical_Activity            10000 non-null  object
 9   Sleep_Hours                  10000 non-null  int64
 10  Family_History               10000 non-null  object
 11  Diabetes                     10000 non-null  object
 12  Hypertension                 10000 non-null  object
 13  Cholesterol_Level            10000 non-null  int64
 14  BMI                          10000 non-null  float64
 15  Stress_Level                 10000 non-null  object
 16  Resting Heart Rate (bpm)     10000 non-null  int64
 17  ECG Results                  10000 non-null  object
 18  Chest Pain Type              10000 non-null  object
 19  Maximum Heart Rate Achieved  10000 non-null  int64
 20  Exercise Induced Angina      10000 non-null  object
 21  Blood Oxygen Levels (SpO2%)  10000 non-null  float64
 22  Triglyceride Levels (mg/dL)  10000 non-null  int64
 23  Heart Attack Likelihood      10000 non-null  object
 24  Screen_Time                  10000 non-null  object
 25  Blood_Pressure               10000 non-null  Int64
dtypes: Int64(1), float64(2), int64(6), object(17)
memory usage: 2.0+ MB

In [179]:
ind_df['ECG_Results'].value_counts().sum()

10000

In [148]:
ind_df.rename(columns={'ECG Results': 'ECG_Results'}, inplace=True)

In [150]:
ind_df['ECG_Results'].value_counts()

ECG_Results
Normal      8516
Abnormal    1484
Name: count, dtype: int64

In [152]:
ind_df['Chest Pain Type'].value_counts()

Chest Pain Type
Typical         2545
Non-anginal     2508
Asymptomatic    2487
Atypical        2460
Name: count, dtype: int64

In [154]:
ind_df.rename(columns={'Chest Pain Type': 'Angina_Type'}, inplace=True)

In [156]:
ind_df['Angina_Type'].value_counts()

Angina_Type
Typical         2545
Non-anginal     2508
Asymptomatic    2487
Atypical        2460
Name: count, dtype: int64

In [189]:
ind_df.rename(columns={'Heart_Rate': 'Resting_Heart_Rate'}, inplace=True)

In [191]:
ind_df['Resting_Heart_Rate'].value_counts()

Resting_Heart_Rate
110    193
97     193
111    191
95     190
70     187
117    186
90     185
101    184
74     180
69     179
75     178
60     178
63     177
89     176
81     176
99     176
86     174
94     173
102    172
73     172
103    171
78     170
80     169
109    169
66     169
77     168
114    168
108    168
65     168
87     168
115    165
98     165
116    163
62     163
79     162
83     162
93     162
61     161
72     161
67     161
118    161
85     161
68     160
112    160
88     158
76     158
84     158
107    157
106    157
100    157
92     156
119    154
104    154
71     153
96     149
113    147
105    146
82     146
64     144
91     131
Name: count, dtype: int64

In [193]:
ind_df.rename(columns={'Maximum Heart Rate Achieved': 'Maximum_Heart_Rate'}, inplace=True)

In [195]:
ind_df['Maximum_Heart_Rate'].value_counts()

Maximum_Heart_Rate
143    107
104    104
101     99
162     98
180     97
      ...
135     69
191     68
211     68
110     64
145     57
Name: count, Length: 121, dtype: int64

In [197]:
ind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          10000 non-null  int64
 1   Gender                       10000 non-null  object
 2   Region_Category              10000 non-null  object
 3   Location_Type                10000 non-null  object
 4   Income_Level                 10000 non-null  object
 5   Smoking_Status               10000 non-null  object
 6   Alcohol_Consumption          10000 non-null  object
 7   Diet_Quality                 10000 non-null  object
 8   Physical_Activity            10000 non-null  object
 9   Sleep_Hours                  10000 non-null  int64
 10  Family_History               10000 non-null  object
 11  Diabetes                     10000 non-null  object
 12  Hypertension                 10000 non-null  object
 13  Cholesterol_Level            10000 non-null  int64
 14  BMI                          10000 non-null  float64
 15  Stress_Level                 10000 non-null  object
 16  Resting_Heart_Rate           10000 non-null  int64
 17  ECG_Results                  10000 non-null  object
 18  Angina_Type                  10000 non-null  object
 19  Maximum_Heart_Rate           10000 non-null  int64
 20  Exercise Induced Angina      10000 non-null  object
 21  Blood Oxygen Levels (SpO2%)  10000 non-null  float64
 22  Triglyceride Levels (mg/dL)  10000 non-null  int64
 23  Heart Attack Likelihood      10000 non-null  object
 24  Screen_Time                  10000 non-null  object
 25  Blood_Pressure               10000 non-null  Int64
dtypes: Int64(1), float64(2), int64(6), object(17)
memory usage: 2.0+ MB

In [200]:
ind_df[['Resting_Heart_Rate', 'Maximum_Heart_Rate']].corr()

                    Resting_Heart_Rate  Maximum_Heart_Rate
Resting_Heart_Rate            1.000000           -0.015105
Maximum_Heart_Rate           -0.015105            1.000000

In [206]:
ind_df['Exercise Induced Angina'].value_counts()

Exercise Induced Angina
No     9011
Yes     989
Name: count, dtype: int64

In [208]:
ind_df.rename(columns={'Exercise Induced Angina': 'Exercise_Induced_Pain'}, inplace=True)

In [210]:
ind_df['Exercise_Induced_Pain'].value_counts()

Exercise_Induced_Pain
No     9011
Yes     989
Name: count, dtype: int64

In [212]:
ind_df['Triglyceride Levels (mg/dL)'].value_counts()

Triglyceride Levels (mg/dL)
388    38
308    34
280    34
293    33
427    32
       ..
474    11
201    11
167    11
171    10
397     9
Name: count, Length: 451, dtype: int64

In [216]:
# Define a function to categorize Triglyceride Levels
def categorize_triglycerides(level):
    if level < 150:
        return 'Good'      # Healthy level
    elif 150 <= level <= 199:
        return 'Moderate'  # Borderline high
    else:
        return 'Bad'       # High level, risk factor

# Apply the function to the column
ind_df['Triglyceride_Levels'] = ind_df['Triglyceride Levels (mg/dL)'].apply(categorize_triglycerides)

# Ensure dtype is object
ind_df['Triglyceride_Levels'] = ind_df['Triglyceride_Levels'].astype('object')

In [222]:
# Check the updated DataFrame
ind_df.head()

,Age,Gender,Region_Category,Location_Type,Income_Level,Smoking_Status,Alcohol_Consumption,Diet_Quality,Physical_Activity,Sleep_Hours,...,ECG_Results,Angina_Type,Maximum_Heart_Rate,Exercise_Induced_Pain,Blood Oxygen Levels (SpO2%),Triglyceride Levels (mg/dL),Heart Attack Likelihood,Screen_Time,Blood_Pressure,Triglyceride_Levels
0,30,Male,East,Urban,Middle,Never,Regularly,Non-Vegetarian,Low,8,...,Normal,Non-anginal,183,No,94.1,58,No,Good,120,Good
1,24,Female,East,Urban,Low,Occasionally,Occasionally,Non-Vegetarian,Low,9,...,Normal,Non-anginal,118,No,97.1,341,No,Bad,124,Bad
2,24,Female,North,Urban,Low,Occasionally,Occasionally,Vegan,High,3,...,Normal,Typical,164,No,92.7,373,Yes,Bad,107,Bad
3,27,Male,East,Urban,Middle,Occasionally,Never,Vegetarian,Low,7,...,Normal,Non-anginal,188,No,98.4,102,Yes,Moderate,134,Good
4,21,Female,West,Rural,Low,Occasionally,Occasionally,Vegetarian,Moderate,9,...,Normal,Atypical,216,No,94.9,235,No,Good,120,Bad

In [227]:
ind_df.drop(columns=['Triglyceride Levels (mg/dL)'], inplace=True)

In [229]:
ind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          10000 non-null  int64
 1   Gender                       10000 non-null  object
 2   Region_Category              10000 non-null  object
 3   Location_Type                10000 non-null  object
 4   Income_Level                 10000 non-null  object
 5   Smoking_Status               10000 non-null  object
 6   Alcohol_Consumption          10000 non-null  object
 7   Diet_Quality                 10000 non-null  object
 8   Physical_Activity            10000 non-null  object
 9   Sleep_Hours                  10000 non-null  int64
 10  Family_History               10000 non-null  object
 11  Diabetes                     10000 non-null  object
 12  Hypertension                 10000 non-null  object
 13  Cholesterol_Level            10000 non-null  int64
 14  BMI                          10000 non-null  float64
 15  Stress_Level                 10000 non-null  object
 16  Resting_Heart_Rate           10000 non-null  int64
 17  ECG_Results                  10000 non-null  object
 18  Angina_Type                  10000 non-null  object
 19  Maximum_Heart_Rate           10000 non-null  int64
 20  Exercise_Induced_Pain        10000 non-null  object
 21  Blood Oxygen Levels (SpO2%)  10000 non-null  float64
 22  Heart Attack Likelihood      10000 non-null  object
 23  Screen_Time                  10000 non-null  object
 24  Blood_Pressure               10000 non-null  Int64
 25  Triglyceride_Levels          10000 non-null  object
dtypes: Int64(1), float64(2), int64(5), object(18)
memory usage: 2.0+ MB

In [231]:
ind_df.rename(columns={'Heart Attack Likelihood': 'Heart_Attack'}, inplace=True)

In [233]:
ind_df['Heart_Attack'].value_counts()

Heart_Attack
No     7962
Yes    2038
Name: count, dtype: int64

In [235]:
ind_df['Blood Oxygen Levels (SpO2%)'].value_counts()

Blood Oxygen Levels (SpO2%)
93.1     130
95.1     117
92.2     116
95.2     116
91.5     115
        ...
98.6      77
91.1      75
92.0      73
90.0      55
100.0     51
Name: count, Length: 101, dtype: int64

In [242]:
# Define a function to categorize SpO2 levels
def categorize_spo2(spo2):
    if spo2 >= 95:
        return 'Good'  # Normal oxygen levels
    elif 90 <= spo2 < 95:
        return 'Moderate'  # Mild hypoxia
    else:
        return 'Bad'  # Critical oxygen levels

In [244]:
# Apply the function to transform the column
ind_df['Blood Oxygen Levels (SpO2%)'] = ind_df['Blood Oxygen Levels (SpO2%)'].apply(categorize_spo2)

In [246]:
# Ensure dtype is object
ind_df['Blood Oxygen Levels (SpO2%)'] = ind_df['Blood Oxygen Levels (SpO2%)'].astype('object')

In [248]:
ind_df['Blood Oxygen Levels (SpO2%)'].value_counts()

Blood Oxygen Levels (SpO2%)
Moderate    5021
Good        4979
Name: count, dtype: int64

In [250]:
ind_df.rename(columns={'Blood Oxygen Levels (SpO2%)': 'Oxygen_Level'}, inplace=True)

In [252]:
ind_df['Oxygen_Level'].value_counts()

Oxygen_Level
Moderate    5021
Good        4979
Name: count, dtype: int64

In [264]:
ind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    10000 non-null  int64
 1   Gender                 10000 non-null  object
 2   Region_Category        10000 non-null  object
 3   Location_Type          10000 non-null  object
 4   Income_Level           10000 non-null  object
 5   Smoking_Status         10000 non-null  object
 6   Alcohol_Consumption    10000 non-null  object
 7   Diet_Quality           10000 non-null  object
 8   Physical_Activity      10000 non-null  object
 9   Sleep_Hours            10000 non-null  int64
 10  Family_History         10000 non-null  object
 11  Diabetes               10000 non-null  object
 12  Hypertension           10000 non-null  object
 13  Cholesterol_Level      10000 non-null  int64
 14  BMI                    10000 non-null  float64
 15  Stress_Level           10000 non-null  object
 16  Resting_Heart_Rate     10000 non-null  int64
 17  ECG_Results            10000 non-null  object
 18  Angina_Type            10000 non-null  object
 19  Maximum_Heart_Rate     10000 non-null  int64
 20  Exercise_Induced_Pain  10000 non-null  object
 21  Oxygen_Level           10000 non-null  object
 22  Heart_Attack           10000 non-null  object
 23  Screen_Time            10000 non-null  object
 24  Blood_Pressure         10000 non-null  int64
 25  Triglyceride_Levels    10000 non-null  object
dtypes: float64(1), int64(6), object(19)
memory usage: 2.0+ MB

In [266]:
ind_df.to_csv('cleaned_India_dataset.csv', index=False)

In [268]:
loaded_df = pd.read_csv('cleaned_India_dataset.csv')

In [270]:
loaded_df

,Age,Gender,Region_Category,Location_Type,Income_Level,Smoking_Status,Alcohol_Consumption,Diet_Quality,Physical_Activity,Sleep_Hours,...,Resting_Heart_Rate,ECG_Results,Angina_Type,Maximum_Heart_Rate,Exercise_Induced_Pain,Oxygen_Level,Heart_Attack,Screen_Time,Blood_Pressure,Triglyceride_Levels
0,30,Male,East,Urban,Middle,Never,Regularly,Non-Vegetarian,Low,8,...,82,Normal,Non-anginal,183,No,Moderate,No,Good,120,Good
1,24,Female,East,Urban,Low,Occasionally,Occasionally,Non-Vegetarian,Low,9,...,76,Normal,Non-anginal,118,No,Good,No,Bad,124,Bad
2,24,Female,North,Urban,Low,Occasionally,Occasionally,Vegan,High,3,...,86,Normal,Typical,164,No,Moderate,Yes,Bad,107,Bad
3,27,Male,East,Urban,Middle,Occasionally,Never,Vegetarian,Low,7,...,106,Normal,Non-anginal,188,No,Good,Yes,Moderate,134,Good
4,21,Female,West,Rural,Low,Occasionally,Occasionally,Vegetarian,Moderate,9,...,73,Normal,Atypical,216,No,Moderate,No,Good,120,Bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,33,Female,East,Rural,Low,Occasionally,Occasionally,Vegan,Low,4,...,88,Abnormal,Atypical,147,No,Moderate,No,Good,96,Bad
9996,35,Female,North-East,Rural,Low,Occasionally,Never,Vegan,High,7,...,116,Normal,Atypical,136,No,Good,No,Bad,120,Bad
9997,32,Male,West,Urban,Middle,Regularly,Never,Non-Vegetarian,Moderate,5,...,62,Normal,Typical,171,No,Good,No,Good,101,Bad
9998,21,Female,Central,Rural,Middle,Regularly,Never,Vegan,Low,4,...,84,Abnormal,Non-anginal,137,No,Moderate,No,Bad,105,Bad
9999,28,Male,North,Rural,High,Never,Never,Vegetarian,Low,3,...,77,Normal,Asymptomatic,220,No,Good,No,Moderate,125,Good

In [272]:
loaded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    10000 non-null  int64
 1   Gender                 10000 non-null  object
 2   Region_Category        10000 non-null  object
 3   Location_Type          10000 non-null  object
 4   Income_Level           10000 non-null  object
 5   Smoking_Status         10000 non-null  object
 6   Alcohol_Consumption    10000 non-null  object
 7   Diet_Quality           10000 non-null  object
 8   Physical_Activity      10000 non-null  object
 9   Sleep_Hours            10000 non-null  int64
 10  Family_History         10000 non-null  object
 11  Diabetes               10000 non-null  object
 12  Hypertension           10000 non-null  object
 13  Cholesterol_Level      10000 non-null  int64
 14  BMI                    10000 non-null  float64
 15  Stress_Level           10000 non-null  object
 16  Resting_Heart_Rate     10000 non-null  int64
 17  ECG_Results            10000 non-null  object
 18  Angina_Type            10000 non-null  object
 19  Maximum_Heart_Rate     10000 non-null  int64
 20  Exercise_Induced_Pain  10000 non-null  object
 21  Oxygen_Level           10000 non-null  object
 22  Heart_Attack           10000 non-null  object
 23  Screen_Time            10000 non-null  object
 24  Blood_Pressure         10000 non-null  int64
 25  Triglyceride_Levels    10000 non-null  object
dtypes: float64(1), int64(6), object(19)
memory usage: 2.0+ MB